<!--# include file="header.html" -->
<h2><a href="http://vim.sourceforge.net/scripts/script.php?script_id=625">Color Sampler Pack</a> <a href="color_sampler_pack/">Demo</a></h2>
<div class="articles">
<table width="100%" valign="top" cellpadding="0px" cellspacing="1px"> 
    <tr valign="top"> 
        <td width="50%" height="300px"> 
            <b>aiseered</b>
            <iframe src="color_sampler_pack/aiseered.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe> 
        </td> 
        <td width="50%" height="300px"> 
            <b>astronaut</b>
            <iframe src="color_sampler_pack/astronaut.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe> 
        </td> 
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>asu1dark</b>
            <iframe src="color_sampler_pack/asu1dark.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>autumn</b>
            <iframe src="color_sampler_pack/autumn.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>autumn2</b>
            <iframe src="color_sampler_pack/autumn2.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>autumnleaf</b>
            <iframe src="color_sampler_pack/autumnleaf.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>baycomb</b>
            <iframe src="color_sampler_pack/baycomb.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>biogoo</b>
            <iframe src="color_sampler_pack/biogoo.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>bluegreen</b>
            <iframe src="color_sampler_pack/bluegreen.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>borland</b>
            <iframe src="color_sampler_pack/borland.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>breeze</b>
            <iframe src="color_sampler_pack/breeze.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>brookstream</b>
            <iframe src="color_sampler_pack/brookstream.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>buttercream</b>
            <iframe src="color_sampler_pack/buttercream.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>calmar256_dark</b>
            <iframe src="color_sampler_pack/calmar256_dark.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>calmar256_light</b>
            <iframe src="color_sampler_pack/calmar256_light.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>camo</b>
            <iframe src="color_sampler_pack/camo.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>candy</b>
            <iframe src="color_sampler_pack/candy.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>candycode</b>
            <iframe src="color_sampler_pack/candycode.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>chela_light</b>
            <iframe src="color_sampler_pack/chela_light.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>chocolateliquor</b>
            <iframe src="color_sampler_pack/chocolateliquor.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>dante</b>
            <iframe src="color_sampler_pack/dante.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>darkblue2</b>
            <iframe src="color_sampler_pack/darkblue2.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>darkslategray</b>
            <iframe src="color_sampler_pack/darkslategray.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>darkspectrum</b>
            <iframe src="color_sampler_pack/darkspectrum.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>dawn</b>
            <iframe src="color_sampler_pack/dawn.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>desert256</b>
            <iframe src="color_sampler_pack/desert256.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>desertEx</b>
            <iframe src="color_sampler_pack/desertEx.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>dusk</b>
            <iframe src="color_sampler_pack/dusk.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>dw_blue</b>
            <iframe src="color_sampler_pack/dw_blue.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>dw_cyan</b>
            <iframe src="color_sampler_pack/dw_cyan.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>dw_green</b>
            <iframe src="color_sampler_pack/dw_green.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>dw_orange</b>
            <iframe src="color_sampler_pack/dw_orange.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>dw_purple</b>
            <iframe src="color_sampler_pack/dw_purple.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>dw_red</b>
            <iframe src="color_sampler_pack/dw_red.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>dw_yellow</b>
            <iframe src="color_sampler_pack/dw_yellow.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>earendel</b>
            <iframe src="color_sampler_pack/earendel.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>eclipse</b>
            <iframe src="color_sampler_pack/eclipse.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>ekvoli</b>
            <iframe src="color_sampler_pack/ekvoli.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>fine_blue</b>
            <iframe src="color_sampler_pack/fine_blue.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>fine_blue2</b>
            <iframe src="color_sampler_pack/fine_blue2.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>fnaqevan</b>
            <iframe src="color_sampler_pack/fnaqevan.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>fog</b>
            <iframe src="color_sampler_pack/fog.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>freya</b>
            <iframe src="color_sampler_pack/freya.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>fruit</b>
            <iframe src="color_sampler_pack/fruit.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>fruity</b>
            <iframe src="color_sampler_pack/fruity.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>golden</b>
            <iframe src="color_sampler_pack/golden.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>habilight</b>
            <iframe src="color_sampler_pack/habilight.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>impact</b>
            <iframe src="color_sampler_pack/impact.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>inkpot</b>
            <iframe src="color_sampler_pack/inkpot.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>ironman</b>
            <iframe src="color_sampler_pack/ironman.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>jellybeans</b>
            <iframe src="color_sampler_pack/jellybeans.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>leo</b>
            <iframe src="color_sampler_pack/leo.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>lucius</b>
            <iframe src="color_sampler_pack/lucius.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>manxome</b>
            <iframe src="color_sampler_pack/manxome.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>marklar</b>
            <iframe src="color_sampler_pack/marklar.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>martin_krischik</b>
            <iframe src="color_sampler_pack/martin_krischik.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>matrix</b>
            <iframe src="color_sampler_pack/matrix.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>metacosm</b>
            <iframe src="color_sampler_pack/metacosm.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>moria</b>
            <iframe src="color_sampler_pack/moria.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>motus</b>
            <iframe src="color_sampler_pack/motus.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>navajo</b>
            <iframe src="color_sampler_pack/navajo.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>navajo_night</b>
            <iframe src="color_sampler_pack/navajo_night.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>neon</b>
            <iframe src="color_sampler_pack/neon.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>neverness</b>
            <iframe src="color_sampler_pack/neverness.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>night</b>
            <iframe src="color_sampler_pack/night.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>northland</b>
            <iframe src="color_sampler_pack/northland.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>nuvola</b>
            <iframe src="color_sampler_pack/nuvola.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>oceanblack</b>
            <iframe src="color_sampler_pack/oceanblack.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>oceandeep</b>
            <iframe src="color_sampler_pack/oceandeep.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>oceanlight</b>
            <iframe src="color_sampler_pack/oceanlight.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>olive</b>
            <iframe src="color_sampler_pack/olive.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>papayawhip</b>
            <iframe src="color_sampler_pack/papayawhip.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>peaksea</b>
            <iframe src="color_sampler_pack/peaksea.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>print_bw</b>
            <iframe src="color_sampler_pack/print_bw.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>pyte</b>
            <iframe src="color_sampler_pack/pyte.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>railscasts</b>
            <iframe src="color_sampler_pack/railscasts.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>railscasts2</b>
            <iframe src="color_sampler_pack/railscasts2.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>rdark</b>
            <iframe src="color_sampler_pack/rdark.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>relaxedgreen</b>
            <iframe src="color_sampler_pack/relaxedgreen.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>rootwater</b>
            <iframe src="color_sampler_pack/rootwater.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>sea</b>
            <iframe src="color_sampler_pack/sea.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>settlemyer</b>
            <iframe src="color_sampler_pack/settlemyer.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>sienna</b>
            <iframe src="color_sampler_pack/sienna.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>simpleandfriendly</b>
            <iframe src="color_sampler_pack/simpleandfriendly.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>spring</b>
            <iframe src="color_sampler_pack/spring.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>synic</b>
            <iframe src="color_sampler_pack/synic.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>tabula</b>
            <iframe src="color_sampler_pack/tabula.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>tango</b>
            <iframe src="color_sampler_pack/tango.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>tango2</b>
            <iframe src="color_sampler_pack/tango2.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>tolerable</b>
            <iframe src="color_sampler_pack/tolerable.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>torte</b>
            <iframe src="color_sampler_pack/torte.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>vc</b>
            <iframe src="color_sampler_pack/vc.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>vibrantink</b>
            <iframe src="color_sampler_pack/vibrantink.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>vividchalk</b>
            <iframe src="color_sampler_pack/vividchalk.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>winter</b>
            <iframe src="color_sampler_pack/winter.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>wombat</b>
            <iframe src="color_sampler_pack/wombat.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>wombat256</b>
            <iframe src="color_sampler_pack/wombat256.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>xemacs</b>
            <iframe src="color_sampler_pack/xemacs.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
    <tr>
        <td width="50%" height="300px">
            <b>xoria256</b>
            <iframe src="color_sampler_pack/xoria256.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
        <td width="50%" height="300px">
            <b>zenburn</b>
            <iframe src="color_sampler_pack/zenburn.vim.cpp.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
        </td>
    </tr>
</table>
</div>
<!--# include file="footer.html" -->
