<!--# include file="header.html" -->
<div class="articles">
<ul>
<li>What is a <b>Vimpire</b>? A <i>Vimpire</i> is a creature we get in #vim from time to time.  This is a user who sucks the souls out of the channel regulars.  They do this by doing absolutely no independant research (this page, :help, google, vim.wikia.com, etc, etc) and by constantly requesting insane amount of hand-holding.  This creature was first given a proper name by channel regular, daniel.</li>
<li>Where do I get vim? <a href="http://vim.sf.net/download.php">Click here!</a></li>
<li>Is there a vim wiki? <a href="http://vim.wikia.com">vim.wikia.com</a></li>
<li>Is there a #vim place to paste? <a href="http://vim.pastey.net">vim.pastey.net</a></li>

<li>Are there any channel rules? <a href="rules.php">Not too many</a></li>
<li>Who are the channel operators? <a href="ops.php">Consult the list</a></li>

<li> Vim is confusing, where do I start? <a href="http://vim.wikia.com/wiki/New_to_Vim" title="New to Vim">New to Vim</a>, <a href="http://vim.wikia.com/wiki/Vim_Tutor" title="Vim Tutor">Vim Tutor</a>, <a href="http://vi-improved.com/tutorial.php" class="external text" title="http://vi-improved.com/tutorial.php" rel="nofollow">Vi-Improved.org Tutorial</a> </li>
<li> How do I record a macro? <a href="http://vim.wikia.com/wiki/Make_a_Macro" title="Make a Macro">Make a Macro</a> </li>
<li> How do I edit GPG encrypted files in Vim? <a href="http://vim.wikia.com/wiki/Vim_Gpg" title="Vim Gpg">Vim Gpg</a> </li>
<li> How do I reselect the visual range I just used? <a href="http://vim.wikia.com/wiki/Reselect_Visual_Block" title="Reselect Visual Block">Reselect Visual Block</a> </li>
<li> How do I change the GUI Font (and make those changes stick)? <a href="http://vim.wikia.com/wiki/Change_GUI_Font" title="Change GUI Font">Change GUI Font</a> </li>
<li> How do I make backspace work like in other editors? <a href="http://vim.wikia.com/wiki/Fix_Backspace" title="Fix Backspace">Fix Backspace</a> </li>
<li> How do I fix syntax highlighting problems? <a href="http://vim.wikia.com/wiki/Fix_Syntax_Highlighting" title="Fix Syntax Highlighting">Fix Syntax Highlighting</a> </li>
<li> How do I paste in code without having all the indenting screwed up? <a href="http://vim.wikia.com/wiki/Paste_Indent_Problems" title="Paste Indent Problems">Paste Indent Problems</a> </li>
<li> How do I insert the current date/time into my file? <a href="http://vim.wikia.com/wiki/Insert_current_date_or_time" title="Insert current date or time">Insert current date or time</a> </li>
<li> How do I make the options I set STAY set? <a href="http://vim.wikia.com/wiki/Where_Are_My_Settings" title="Where Are My Settings">Where Are My Settings</a> </li>
<li> How can you read/write system environment variables from within Vim? <a href="http://vim.wikia.com/wiki/Read_Write_System_Enviroment_Variables" title="Read Write System Enviroment Variables">Read Write System Enviroment Variables</a> </li>
<li> How can I dump my file to html looking EXACTLY as it currently does (syntax highlighting at all)? <a href="http://vim.wikia.com/wiki/To_Html" title="To Html">To Html</a> </li>
<li> How to tell Vim to save as a new file when the file is hardlinked? <a href="http://vim.wikia.com/wiki/New_When_Hardlinked" title="New When Hardlinked">New When Hardlinked</a> </li>
<li> How can I fix the line-endings in this file? <a href="http://vim.wikia.com/wiki/File_Format" title="File Format">File Format</a> </li>
<li> How to exchange the current line with the line above/below? <a href="http://vim.wikia.com/wiki/Switch_Lines" title="Switch Lines">Switch Lines</a> </li>
<li> How come Visual Studio .Net has been out for years now (yes, multiple) yet VisVim "still" does not work for it? Is there some huge technical difficulty or is there just an overall lack of interest? <a href="http://vim.wikia.com/wiki/Vis_Vim_Disinterest" title="Vis Vim Disinterest">Vis Vim Disinterest</a> </li>
<li> How can I get diff to work properly in the MS Windows port of Vim? <a href="http://vim.wikia.com/wiki/Vim_Diff" title="Vim Diff">Vim Diff</a> </li>
<li> How can I get Visual Studio like completion (i.e. Intellisense) in Vim? <a href="http://vim.wikia.com/wiki/Omni_Completion" title="Omni Completion">Omni Completion</a> </li>
<li> How can I delete parens that surround text? <a href="http://vim.wikia.com/wiki/Surrounding_Parens" title="Surrounding Parens">Surrounding Parens</a> </li>
</ul>
</div>
<br /><br />
<!--# include file="footer.html" -->
