</div><div class="right"> 
<h2>#VIM Op Products:</h2>
<ul>
<li><a title="by MetaCosm" href="http://vim.sourceforge.net/scripts/script.php?script_id=625">Colors Pack</a></li>
<li><a title="by godlygeek" href="http://www.vim.org/scripts/script.php?script_id=2390">Colors Approx</a></li>
<li><a title="by tpope" href="http://vim.sourceforge.net/scripts/script.php?script_id=1567">Rails Support</a></li>
<li><a title="by scrooloose" href="http://vim.sourceforge.net/scripts/script.php?script_id=1658">Nerd Tree</a></li>
</ul>
<h2>Vim Related:</h2>
<ul>
<li><a href="http://www.vim.org">Vim Homepage</a></li> 
<li><a href="http://vim.wikia.com/wiki/Vim_Tips_Wiki">Vim (Tips) Wiki</a></li> 
<li><a href="http://vimdoc.sourceforge.net/">VimDocs Homepage</a></li> 
<li><a href="http://macvim.org/OSX/index.php">MacVim Homepage</a></li> 
<li><a href="http://www.tuxfiles.org/linuxhelp/vimcheat.html">Vim Cheat Sheet</a></li> 
<li><a href="http://www.viemu.com/vi-vim-cheat-sheet.gif">Visual Cheat Sheet</a></li>
<li><a href="http://www.oualline.com/vim-cook.html">Vim Cook Book</a></li> 
<li><a href="http://iccf-holland.org/click5.html">Vim Books</a></li>
<li><a href="http://www.moolenaar.net">Vim Creator</a></li> 
<li><a href="http://en.wikipedia.org/wiki/Vim_(text_editor)">Vim Wikipedia Entry</a></li>
<li><a href="http://www.cs.cmu.edu/~maverick/VimColorSchemeTest/">Vim Colorschemes Online</a></li>
</ul>

</div>
<div style="clear: both;"> </div>
</div>
<div id="bottom"> </div>
<div id="footer">
    &copy; 2011 <a href="http://robertmelton.com">Robert Melton</a>.  Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a>
</div>
</div>

</body>
</html>
