<!--# include file="header.html" -->
<h2>About Vi-IMproved.org</h2>
<div class="articles">
<img src="success_vim.jpg"/><br/>
This site is the online home of the <a href="irc://irc.freenode.net/vim">#VIM channel</a> on <a href="http://freenode.net">Freenode.net</a>.  The only  
somewhat notable thing on it is <a href="tutorial.php">the tutorial</a>.  It should be growing into more of a site shortly.<br/>
<a href="vim.png">Random Screenshot - VIM on Vista</a><br/>
You can also check out the <a href="http://tinyurl.com/vim-facebook">#vim facebook page</a>
</div>
<br /><br />
<h2>Download VIM</h2>
<div class="articles">
There are many way to get vim.  This list is just a quick way for you to get your vim fix. 
<ul>
<li><b>Unix: </b><a href="ftp://ftp.vim.org/pub/vim/unix/vim-7.3.tar.bz2">vim-7.3.tar.bz2</a></li>
<li><b>Windows: </b><a href="http://sourceforge.net/projects/cream/files/Cream/0.43/cream-0-43-gvim-7-3-107.exe/download">gvim73.x.exe</a> (<i>A special thanks to <a href="http://cream.sourceforge.net/">Cream</a> and Steve Hall
for maintaining this great up to date windows binary of <b>standard (non-cream) gvim</b></i>).</li>
<li><b>OS-X: </b><a href="https://github.com/b4winckler/macvim/downloads">MacVim-7.3</a></li>
</div>
<br /><br />
<h2>What would you like?</h2>
<div class="articles">
Please, let me know what you would like to see on this site, just drop me an <a href="http://robertmelton.com/">a line</a> and we can talk about it.  Feel free to send questions you think 
should be on the <a href="faq.php">FAQ</a> as well. 
</div>
<!--# include file="footer.html" -->
