<!--# include file="header.html" -->
<h2>#VIM Channel Operators</h2>
<div class="articles">
<ul>
<li>MetaCosm (RobertMeta) - Founder</li>
<li>ciaranm</li>
<li>elik</li>
<li>godlygeek</li>
<li>jamessan</li>
<li>Jerub</li>
<li>kisielk</li>
<li>Magnade</li>
<li>rik</li>
<li>rjbs</li>
<li>rphillips</li>
<li>scrooloose</li>
<li>tpope</li>
<li>Zathrus</li>
</ul>
</div>
<br /><br />
<!--# include file="footer.html" -->
