<!--# include file="header.html" -->
<h2>#VIM Channel Regulars (helpful ones)</h2>
<div class="articles">
<ul>
<li>\amethyst</li>
<li>Araxia</li>
<li>dagbrown</li>
<li>daniel</li>
<li>davidfetter</li>
<li>DHulme</li>
<li>Evanlec</li>
<li>frogonwheels</li>
<li>henroc</li>
<li>housetier</li>
<li>ipkiss</li>
<li>LeoNerd</li>
<li>madduck</li>
<li>MarcWeber</li>
<li>Neil</li>
<li>Raging_Hog</li>
<li>rphillips</li>
<li>regulate</li>
<li>spiiph</li>
<li>vimgor (friendly bot)</li>
<li>gvimgor (friendly bot)</li>
</ul>
</div>
<br /><br />
<!--# include file="footer.html" -->
