<!--# include file="header.html" -->
<h2>#VIM Rules</h2>
<div class="articles">
<ul>
<li>Don't ask to ask, just ask</li>
<li>Before you ask, :help it! (vim's help is GREAT)</li>
<li>No politics</li>
<li>Be decent and polite</li>
<li>Stay on topic (within reason)</li>
<li>Don't be a Vimpire (see FAQ for details)</li>
<li>We don't ban people often, but when we do, it is forever, so don't push on the OPs</li>
<li>No OS wars -- only editor wars allowed! (Vim runs on MS-Windows, Macintosh, Amiga, OS/2, VMS, QNX and other systems. And also on every Unix system)</li>
<li>Vim(Chat, IRC, etc) or Cream related questions?  <b>GO AWAY!</b>  Seriously, we have nothing to do with Cream or the VimIRC plugin, and discussion of such things will just make us grumpy.</li>
<li>Use <a href="http://vim.pastey.net">vim.pastey.net</a> for pastes, not the channel</li>
<li>Read the <a href="FAQ/">FAQ</a></li>
<li>Check the <a href="http://vim.wikia.com">Wiki</a></li>
</ul>
</div>
<br /><br />
<!--# include file="footer.html" -->
