<!--# include file="header.html" -->
<h2>IRC Based Vim Tutorial </h2>
	<div class="articles">
			<p>The reason this tutorial was created: basically I was tired
                of explaining vim usage on irc, and found myself doing it
                repeatedly, at the same time, I was too
                lazy to sit down and write my own "real" vim <b>tutorial</b> (I ignored the fact that I spent 10x the
                time explain stuff to people on line than it would have taking me to write a <b>tutorial</b>).  So 
                after one conversation explaining a large chunk of vim usage, I pulled it out of the logs, 
                and published it (cropped and modified of course) here.
            </p>
			<br/>

            <p>Tools you need to get started:</p>
            <ul>
		<li>You will need Vim!  That is it!  See the <a href="http://vi-improved.org">homepage</a> for links.</li>
            </ul>
			<br/>

            <p>
                To go thru this <b>tutorial</b> please open up a STANDARD xterm and with the command "xterm -fg white -bg black -fn fixed"
                and then run "export TERM=ansi; vim".  If you get stuck, my name is "<b>MetaCosm</b>"(I play Socrates) and can be found 
                on irc.freenode.net in #vim (among other chans).  If you happen to use windows, you will want to run this 
                <b>tutorial</b> using plain old gvim (not Easy Gvim or ReadOnly Gvim), just about the entire <b>tutorial</b> should work for ya :).
                The only reason I don't recommend gvim for linux for this <b>tutorial</b> is because #1) Not everyone has it.  #2) It can 
                tempt people to use vim incorrectly during the <b>tutorial</b>, better to just use good old console vim. 
            </p>
			<br/>

            <p>
                Now, you will notice that it has a table of contents, and
                is broken into section, but that is just for ease of coming back where you
                left off, if you jump         around you WILL be confused, and you WILL miss
                vital information that will make your vim experience less wonderful.  This
                SEEMS like a long <b>tutorial</b>, but it          really isn't once you realize
                a lot of the lines say stuff like "k", "ok", "cool", etc, it makes for REAL
                fast reading (under 30 mins for everyone I have had comment on it so far)        
            </p>

            <br/><br/><h3>The Start (starting vim, general info)</h3>

            <div class="teacher">Socrates<b>: ewww, it is not vim</b></div>
            <div class="teacher">Socrates<b>: therefore it is bad bad bad</b></div>

            <div class="student">Glaucon<b>: ehh</b></div>
            <div class="student">Glaucon<b>: vim</b></div>
            <div class="student">Glaucon<b>: no</b></div>

            <div class="teacher">Socrates<b>: you know nothing</b></div>

            <div class="teacher">Socrates<b>: :)</b></div>
            <div class="student">Glaucon<b>: never liked vim</b></div>
            <div class="teacher">Socrates<b>: why not?</b></div>
            <div class="teacher">Socrates<b>: it is so fast for editing</b></div>

            <div class="student">Glaucon<b>: well, it is better than emacs to me</b></div>
            <div class="student">Glaucon<b>: I agree its good</b></div>
            <div class="teacher">Socrates<b>: did you use it properly? or as a half assed text editor (ie: not using modes)</b></div>
            <div class="student">Glaucon<b>: just not my style</b></div>
            <div class="student">Glaucon<b>: well, I admit it never got too into it</b></div>

            <div class="student">Glaucon<b>: so, i didn't use the other modes</b></div>
            <div class="teacher">Socrates<b>: ahh, that is the core reason you probably don't like it. </b></div>
            <div class="student">Glaucon<b>: what other modes are there?</b></div>
            <div class="teacher">Socrates<b>: *ahh*</b></div>

            <div class="teacher">Socrates<b>: you didn't even explore a little :)</b></div>

            <div class="teacher">Socrates<b>: want a quick little intro ?</b></div>
            <div class="student">Glaucon<b>: sure</b></div>
            <div class="teacher">Socrates<b>: type "vim" at console</b></div>

            <div class="teacher">Socrates<b>: and tell me what version you got?</b></div>
            <div class="teacher">Socrates<b>: :q to exit</b></div>

            <div class="teacher">Socrates<b>: once you see the version</b></div>
            <div class="student">Glaucon<b>: hold on</b></div>

            <div class="student">Glaucon<b>: hmmm</b></div>
            <div class="student">Glaucon<b>: how do I get the version?</b></div>
            <div class="student">Glaucon<b>: in vim</b></div>

            <div class="teacher">Socrates<b>: it should show when you go in</b></div>

            <div class="teacher">Socrates<b>: right in front :)</b></div>
            <div class="student">Glaucon<b>: got a little splash screen</b></div>
            <div class="student">Glaucon<b>: version 5.8.3</b></div>
            <div class="student">Glaucon<b>: ok</b></div>

            <div class="teacher">Socrates<b>: that is fine, but you should get 6.0 at some point</b></div>
            <div class="teacher">Socrates<b>: go into vim</b></div>
            <div class="teacher">Socrates<b>: first thing to know</b></div>
            <div class="student">Glaucon<b>: ok, in it</b></div>
            <div class="teacher">Socrates<b>: is there are "3" modes</b></div>

            <div class="teacher">Socrates<b>: you are in "normal" mode now</b></div>
            <div class="student">Glaucon<b>: right</b></div>
            <div class="teacher">Socrates<b>: hit the i key to enter "insert mode"</b></div>
            <div class="teacher">Socrates<b>: and type some junk, just to work with</b></div>

            <div class="student">Glaucon<b>: yea, this much i've covered</b></div>

            <div class="student">Glaucon<b>: ok</b></div>
            <div class="teacher">Socrates<b>: then hit esc to get back to "normal mode"</b></div>
            <div class="teacher">Socrates<b>: just type</b></div>

            <div class="teacher">Socrates<b>: k when I can continue in the chan</b></div>
            <div class="student">Glaucon<b>: k</b></div>



            <br/><br/><h3>Real Basics (Well, mostly)</h3>
            <div class="teacher">Socrates<b>: one of the mantras in vim is "stay as close to the home row as possible"...   </b></div>

            <div class="student">Glaucon<b>: home row?</b></div>
            <div class="teacher">Socrates<b>: asdfghjkl; -- your "home row" keys</b></div>

            <div class="student">Glaucon<b>: ahh</b></div>
            <div class="teacher">Socrates<b>: where you place your hands </b></div>

            <div class="teacher">Socrates<b>: now, you arlready know you can move around in "insert" or "normal" mode with arrows</b></div>
            <div class="comment">I forgot to mention that you hit the "i" key to enter insert mode, and hit the escape key to go back to normal mode, you 
            should assume "normal mode" as your regular mode, and insert mode as a special mode for typing.</div>
            <div class="student">Glaucon<b>: right</b></div>

            <div class="teacher">Socrates<b>: but, in "normal mode", you should get used to moving with this keys.</b></div>
            <div class="student">Glaucon<b>: which keys</b></div>

            <div class="teacher">Socrates<b>:       ^</b></div>
            <div class="teacher">Socrates<b>:       k              Hint: The h key is at the left and moves left.</b></div>
            <div class="teacher">Socrates<b>:  &lt; h       l &gt;             The l key is at the right and moves right.</b></div>

            <div class="teacher">Socrates<b>:        j                   The j key looks like a down arrow</b></div>
            <div class="teacher">Socrates<b>:        v</b></div>
            <div class="teacher">Socrates<b>: once you get used to it, it is FAR faster</b></div>
            <div class="teacher">Socrates<b>: because you get to keep your fingers on the home row.</b></div>
            <div class="student">Glaucon<b>: ok</b></div>

            <div class="student">Glaucon<b>: got it</b></div>
            <div class="teacher">Socrates<b>: cool</b></div>
            <div class="teacher">Socrates<b>: ok</b></div>
            <div class="teacher">Socrates<b>: now let me introduce you to objects</b></div>

            <div class="teacher">Socrates<b>: put the curser (in normal mode) at the start of a word</b></div>

            <div class="student">Glaucon<b>: k</b></div>
            <div class="teacher">Socrates<b>: then type this (still in normal mode)</b></div>
            <div class="teacher">Socrates<b>: d2w</b></div>

            <div class="student">Glaucon<b>: wow</b></div>
            <div class="student">Glaucon<b>: k</b></div>

            <div class="teacher">Socrates<b>: now let me explain</b></div>
            <div class="teacher">Socrates<b>: (action) (times) (object)</b></div>

            <div class="teacher">Socrates<b>: you just did </b></div>
            <div class="teacher">Socrates<b>: (delete) (2) (words)</b></div>
            <div class="teacher">Socrates<b>: now goto the space after the end of a word</b></div>

            <div class="teacher">Socrates<b>: right AFTER the last letter</b></div>

            <div class="teacher">Socrates<b>: and type </b></div>
            <div class="teacher">Socrates<b>: d2b</b></div>
            <div class="teacher">Socrates<b>: (delete) (2) (words Back)</b></div>
            <div class="student">Glaucon<b>: heh</b></div>

            <div class="student">Glaucon<b>: that is cool</b></div>
            <div class="teacher">Socrates<b>: now, try using w and b in "normal" mode</b></div>
            <div class="teacher">Socrates<b>: you will notice it moves</b></div>
            <div class="teacher">Socrates<b>: just like hjkl do</b></div>
            <div class="teacher">Socrates<b>: now, hjkl are objects :)   So you can do </b></div>

            <div class="teacher">Socrates<b>: d3h</b></div>
            <div class="teacher">Socrates<b>: (delete) (3) (to the left)</b></div>
            <div class="student">Glaucon<b>: how?</b></div>
            <div class="student">Glaucon<b>: ahh</b></div>

            <div class="student">Glaucon<b>: ahh</b></div>

            <div class="teacher">Socrates<b>: tell me when you have moved around with w and b</b></div>
            <div class="student">Glaucon<b>: I have, and used d3l</b></div>
            <div class="teacher">Socrates<b>: type thing :)</b></div>

            <div class="teacher">Socrates<b>: hehe</b></div>
            <div class="teacher">Socrates<b>: ok</b></div>

            <div class="teacher">Socrates<b>: write a new word (single one)</b></div>
            <div class="teacher">Socrates<b>: using insert</b></div>

            <div class="student">Glaucon<b>: ok</b></div>
            <div class="teacher">Socrates<b>: now goto the start of the word and type </b></div>
            <div class="teacher">Socrates<b>: cw</b></div>

            <div class="teacher">Socrates<b>: "in normal mode"</b></div>

            <div class="teacher">Socrates<b>: (change) (word)</b></div>
            <div class="student">Glaucon<b>: whoah</b></div>
            <div class="teacher">Socrates<b>: so if you had</b></div>
            <div class="teacher">Socrates<b>: to change the next 4 words</b></div>

            <div class="teacher">Socrates<b>: you would do</b></div>
            <div class="teacher">Socrates<b>: c4w</b></div>
            <div class="teacher">Socrates<b>: or to change the two words behind the cursor</b></div>
            <div class="teacher">Socrates<b>: you would do c2b</b></div>
            <div class="student">Glaucon<b>: ok</b></div>

            <div class="teacher">Socrates<b>: cool</b></div>
            <div class="student">Glaucon<b>: right</b></div>
            <div class="teacher">Socrates<b>: now you know that your "movement keys" are actually also "objects" you can run commands on</b></div>
            <div class="student">Glaucon<b>: yea</b></div>

            <div class="student">Glaucon<b>: that is cool</b></div>

            <div class="teacher">Socrates<b>: and you should now try the (change) (word)</b></div>
            <div class="teacher">Socrates<b>: and (change) (word Back)</b></div>
            <div class="teacher">Socrates<b>: and remember that you can give a number between them</b></div>

            <div class="teacher">Socrates<b>: like </b></div>
            <div class="teacher">Socrates<b>: c3w</b></div>

            <div class="teacher">Socrates<b>: (change) (3) (words)</b></div>
            <div class="teacher">Socrates<b>: ect</b></div>

            <div class="student">Glaucon<b>: k</b></div>
            <div class="teacher">Socrates<b>: ok</b></div>
            <div class="teacher">Socrates<b>: change one of those words to something hard to type like</b></div>

            <div class="teacher">Socrates<b>: "somethingReallyAnnoyingToType"</b></div>

            <div class="teacher">Socrates<b>: or something like that</b></div>
            <div class="student">Glaucon<b>: k</b></div>


            <br/><br/><h3>AutoComplete</h3>

            <div class="teacher">Socrates<b>: now I will show you autocomplete :)</b></div>

            <div class="teacher">Socrates<b>: autocomplete will complete any word, in any open document you are currently editing</b></div>
            <div class="teacher">Socrates<b>: here is how it works</b></div>
            <div class="teacher">Socrates<b>: (don't get ahead of me :)</b></div>
            <div class="teacher">Socrates<b>: control-n will find the "next" copy of the word that starts in that letter</b></div>

            <div class="teacher">Socrates<b>: and control-p will find the "prev" copy of the word</b></div>
            <div class="teacher">Socrates<b>: so you can search "either way" thru the buffer</b></div>
            <div class="teacher">Socrates<b>: so type</b></div>
            <div class="teacher">Socrates<b>: in "insert mode"</b></div>
            <div class="teacher">Socrates<b>: type</b></div>

            <div class="teacher">Socrates<b>: s(control-p) to match it with the "prev" word in the buffer </b></div>
            <div class="teacher">Socrates<b>: that starts with s</b></div>
            <div class="teacher">Socrates<b>: if that isn't it</b></div>
            <div class="teacher">Socrates<b>: hit (control-p) again</b></div>

            <div class="teacher">Socrates<b>: if you go past it</b></div>

            <div class="teacher">Socrates<b>: hit (control-n)</b></div>


            <br/><br/><h3>Selecting Stuff, Cutting and Pasting...</h3>
            <div class="teacher">Socrates<b>: cool, you are not getting stuck much at all, makes it less painful</b></div>

            <div class="student">Glaucon<b>: this is pretty easy</b></div>

            <div class="teacher">Socrates<b>: yep</b></div>
            <div class="teacher">Socrates<b>: it is.</b></div>
            <div class="teacher">Socrates<b>: just gotta get in the right mindset</b></div>

            <div class="teacher">Socrates<b>: wanna see some more cool stuff?</b></div>
            <div class="teacher">Socrates<b>: :)</b></div>

            <div class="student">Glaucon<b>: I just never had anyone explain it to me</b></div>
            <div class="student">Glaucon<b>: yea</b></div>

            <div class="teacher">Socrates<b>: ok</b></div>
            <div class="student">Glaucon<b>: ok</b></div>
            <div class="teacher">Socrates<b>: hehe :)</b></div>

            <div class="student">Glaucon<b>: continue</b></div>

            <div class="teacher">Socrates<b>: to select stuff in vim is real easy, same stuff as before new (action)</b></div>
            <div class="teacher">Socrates<b>: v3w</b></div>
            <div class="teacher">Socrates<b>: (in visual mode select) (3) (words)</b></div>
            <div class="comment">Sorry if the next little bit is unclear, I will try to edit it when I get a chance
            Important thing I forgot to tell Glaucon is that you can use "V" (shift-v) to select LINES in visual mode, you hit just
            plain v to select CHARS instead, and you can grow or shrink visual mode just by using movement keys once you hit v (or V).  Once
            in visual mode, there are some interesting things to note, first of all, when you go into visual mode, there are two "marks"
            set '&lt; and '&gt;, when you hit : (to go into normal mode, covered later), it will put in those "marks" as the default
            item to "act on".   Also, you can hop to the upperleft corner, and the lowerright corner (the marks) by hitting o while in
            visual mode.   Also, you can indent the visual "blocks" by hitting &lt; and &gt; while in visual mode, and remember that you 
            can do it repeatedly by doing 3&gt; to indent three times, 2&lt; to un-indent 2 times</div>

            <div class="teacher">Socrates<b>: then to copy them you hit "y" once they are selected ... "y" stands for "yank"</b></div>
            <div class="student">Glaucon<b>: k</b></div>
            <div class="student">Glaucon<b>: back to the lesson</b></div>
            <div class="teacher">Socrates<b>: time to learn searching</b></div>

            <div class="teacher">Socrates<b>: do a yank :)</b></div>

            <div class="student">Glaucon<b>: ok</b></div>
            <div class="student">Glaucon<b>: then?</b></div>
            <div class="teacher">Socrates<b>: then the other half is "put"</b></div>

            <div class="teacher">Socrates<b>: hit p to put that somewhere</b></div>
            <div class="student">Glaucon<b>: ctrl p</b></div>

            <div class="teacher">Socrates<b>: just p</b></div>
            <div class="student">Glaucon<b>: just p?</b></div>

            <div class="teacher">Socrates<b>: in normal mode</b></div>
            <div class="student">Glaucon<b>: ok</b></div>
            <div class="student">Glaucon<b>: heh</b></div>

            <div class="teacher">Socrates<b>: and just y to "yank" in visual mode (let me explain)</b></div>

            <div class="teacher">Socrates<b>: when you have something highlighted, you are in the thrid mode</b></div>
            <div class="teacher">Socrates<b>: "Visual mode"</b></div>
            <div class="teacher">Socrates<b>: it has some special things you need not be worried about.</b></div>
            <div class="teacher">Socrates<b>: yet.</b></div>

            <div class="teacher">Socrates<b>: I will explain them later</b></div>
            <div class="teacher">Socrates<b>: tell me when you are ready to continue...</b></div>
            <div class="student">Glaucon<b>: ok</b></div>
            <div class="teacher">Socrates<b>: ok</b></div>
            <div class="teacher">Socrates<b>: did you yank some text?</b></div>

            <div class="teacher">Socrates<b>: and did you put some text?</b></div>
            <div class="student">Glaucon<b>: yes</b></div>


            <br/><br/><h3>Sidenote: Ok, I can't stay focused...</h3>
            <div class="teacher">Socrates<b>: ok, some sidenotes I mentioned a few times</b></div>

            <div class="teacher">Socrates<b>: there are a few useful ways to enter insert mode from normal mode</b></div>
            <div class="teacher">Socrates<b>: i == insert at current position</b></div>
            <div class="teacher">Socrates<b>: a == insert AFTER current position</b></div>
            <div class="teacher">Socrates<b>: o == open (create) a new line below current line</b></div>

            <div class="teacher">Socrates<b>: I == insert AT START of current line</b></div>

            <div class="teacher">Socrates<b>: A == insert AFTER end of current line</b></div>
            <div class="teacher">Socrates<b>: O == open (create) a new line ABOVE current line</b></div>
            <div class="student">Glaucon<b>: a - good, i was wondering bout that</b></div>

            <div class="teacher">Socrates<b>: esc is still how you get back to normal mode :)</b></div>
            <div class="teacher">Socrates<b>: o will probably be the most heavly used one</b></div>

            <div class="student">Glaucon<b>: yea, I can see that</b></div>
            <div class="teacher">Socrates<b>: yep</b></div>



            <br/><br/><h3>Sidenote: Back to objects again, sorry (Line Yanks and Deletes are here)</h3>
            <div class="teacher">Socrates<b>: ok, lets go back to "objects" for a moment ok?</b></div>

            <div class="student">Glaucon<b>: sure</b></div>
            <div class="teacher">Socrates<b>: you know that d3l will delete three to the right correct?  (just reinterating!)</b></div>

            <div class="student">Glaucon<b>: the right?</b></div>
            <div class="student">Glaucon<b>: or the left?</b></div>
            <div class="teacher">Socrates<b>: RIGHT</b></div>

            <div class="teacher">Socrates<b>: remember</b></div>

            <div class="student">Glaucon<b>: ok</b></div>
            <div class="teacher">Socrates<b>: l is a movement key</b></div>
            <div class="teacher">Socrates<b>: for "move right"</b></div>
            <div class="student">Glaucon<b>: h is left</b></div>

            <div class="teacher">Socrates<b>: yep</b></div>
            <div class="teacher">Socrates<b>: there ya go</b></div>
            <div class="teacher">Socrates<b>: so to delete three up </b></div>
            <div class="teacher">Socrates<b>: what would ya hit?</b></div>
            <div class="student">Glaucon<b>: d3k</b></div>

            <div class="teacher">Socrates<b>: ok, now with k</b></div>
            <div class="teacher">Socrates<b>: that is a little tricky</b></div>
            <div class="teacher">Socrates<b>: because it is actually 4</b></div>
            <div class="teacher">Socrates<b>: delete this line AND 3 up</b></div>

            <div class="student">Glaucon<b>: ok</b></div>

            <div class="teacher">Socrates<b>: and FYI a quick way to delete the current line is </b></div>
            <div class="teacher">Socrates<b>: dd</b></div>
            <div class="student">Glaucon<b>: d = ?</b></div>

            <div class="student">Glaucon<b>: line?</b></div>
            <div class="teacher">Socrates<b>: no, it is a convience shortcut</b></div>

            <div class="teacher">Socrates<b>: d when AFTER d</b></div>
            <div class="teacher">Socrates<b>: means "current"</b></div>

            <div class="teacher">Socrates<b>: there are a few of those in vim</b></div>
            <div class="student">Glaucon<b>: ahh</b></div>
            <div class="teacher">Socrates<b>: yy = yank current line</b></div>

            <div class="teacher">Socrates<b>: actually</b></div>

            <div class="teacher">Socrates<b>: that is INCORRECT</b></div>
            <div class="teacher">Socrates<b>: if you do </b></div>
            <div class="teacher">Socrates<b>: d2d</b></div>
            <div class="teacher">Socrates<b>: it will do </b></div>

            <div class="teacher">Socrates<b>: actually 2 lines</b></div>
            <div class="teacher">Socrates<b>: see, it is a little objects things</b></div>
            <div class="student">Glaucon<b>: got it</b></div>
            <div class="teacher">Socrates<b>: because h j k l are "movement keys"</b></div>
            <div class="teacher">Socrates<b>: when you hit</b></div>

            <div class="teacher">Socrates<b>: d2k</b></div>
            <div class="teacher">Socrates<b>: it deletes three lines</b></div>
            <div class="teacher">Socrates<b>: but you do</b></div>
            <div class="teacher">Socrates<b>: d2d</b></div>

            <div class="teacher">Socrates<b>: it deletes two lines</b></div>

            <div class="student">Glaucon<b>: ok</b></div>
            <div class="teacher">Socrates<b>: that could be confusing (inconsistant) but you will hit dd and yy enough to like it :)</b></div>
            <div class="comment">
             Thanks to sjbrown in #PHP on freenode.net for this...
                "Marks Rule" -- You mark a part of something you are editing, so you can jump back to it quickly, 
                and use it in binds and yanks and other such stuff.   You mark and area with m(key to bind mark to) in 
                normal mode.  You can jump to that by doing `(key you binded the mark to)  -- 
                for example, putting the cursor over a part of a word and hitting "mj" would attach a mark there with
                the name "j", to jump to that mark, you would use "`j" 
            </div>



            <br/><br/><h3>Searching Stuff</h3>

            <div class="teacher">Socrates<b>: ok, shifting gears again :)</b></div>
            <div class="teacher">Socrates<b>: to searching</b></div>
            <div class="teacher">Socrates<b>: in normal mode hit</b></div>

            <div class="teacher">Socrates<b>: /(regular expresion) to search forward</b></div>
            <div class="teacher">Socrates<b>: ?(regular expresion) to search backward</b></div>

            <div class="student">Glaucon<b>: k</b></div>
            <div class="teacher">Socrates<b>: now, you wanna see some more cool stuff</b></div>

            <div class="teacher">Socrates<b>: you can do</b></div>
            <div class="student">Glaucon<b>: sure</b></div>
            <div class="teacher">Socrates<b>: y/)   -- yank up until the result from the search (in the case, until paren)</b></div>

            <div class="student">Glaucon<b>: man, there *is* alot in this</b></div>

            <div class="teacher">Socrates<b>: I just threw alot at you</b></div>
            <div class="teacher">Socrates<b>: play with it for awhile</b></div>
            <div class="teacher">Socrates<b>: then tell me when you are "k"</b></div>
            <div class="student">Glaucon<b>: k</b></div>

            <div class="student">Glaucon<b>: I played with it</b></div>
            <div class="teacher">Socrates<b>: what about using y and search together?</b></div>
            <div class="student">Glaucon<b>: yup</b></div>
            <div class="teacher">Socrates<b>: y/)   -- yank up until the result from the search (in the case, until paren)</b></div>
            <div class="teacher">Socrates<b>: y?)   -- yank up until the result from the search (in the case, LAST paren)</b></div>

            <div class="comment">
             Thanks to sjbrown again, for this extention of marks, you can actually use yank with marks as well, you can do
            y`(key you binded the mark to) -- cool huh? 
            </div>
            
            <div class="student">Glaucon<b>: yup</b></div>
            <div class="teacher">Socrates<b>: try it both ways :)</b></div>
            <div class="teacher">Socrates<b>: just for good measure</b></div>

            <div class="student">Glaucon<b>: that is within a search, right?</b></div>
            <div class="teacher">Socrates<b>: no</b></div>
            <div class="student">Glaucon<b>: or is that in the normal mode?</b></div>
            <div class="teacher">Socrates<b>: in normal mode</b></div>

            <div class="student">Glaucon<b>: ok</b></div>

            <div class="student">Glaucon<b>: hold on</b></div>
            <div class="student">Glaucon<b>: ok</b></div>
            <div class="teacher">Socrates<b>: by the way</b></div>



            <br/><br/><h3>Sidenote: to commands</h3>

            <div class="teacher">Socrates<b>: sidenote</b></div>
            <div class="teacher">Socrates<b>: you hit : to enter commandline to type commands</b></div>
            <div class="teacher">Socrates<b>: :w saves the file</b></div>

            <div class="teacher">Socrates<b>: :w (filename)</b></div>
            <div class="teacher">Socrates<b>: saves it to the filename</b></div>

            <div class="teacher">Socrates<b>: :q</b></div>
            <div class="teacher">Socrates<b>: to exit</b></div>

            <div class="student">Glaucon<b>: isn't there like a ! thing?</b></div>
            <div class="student">Glaucon<b>: like, :!q</b></div>
            <div class="teacher">Socrates<b>: yes, there sure it</b></div>

            <div class="student">Glaucon<b>: ?</b></div>

            <div class="teacher">Socrates<b>: but, what it does</b></div>
            <div class="teacher">Socrates<b>: is allow you to ignore warning</b></div>
            <div class="teacher">Socrates<b>: you hit :q</b></div>
            <div class="teacher">Socrates<b>: and it says "you haven't saved it!!"</b></div>

            <div class="teacher">Socrates<b>: you go</b></div>
            <div class="teacher">Socrates<b>: :q! to say, "I don't care!"</b></div>
            <div class="student">Glaucon<b>: hehe</b></div>
            <div class="teacher">Socrates<b>: sometimes you will try to write to a read only file</b></div>
            <div class="teacher">Socrates<b>: and it will say "read-only file"</b></div>

            <div class="teacher">Socrates<b>: and you type</b></div>
            <div class="teacher">Socrates<b>: :w! to say "I don't care if it is read only"</b></div>
            <div class="student">Glaucon<b>: heh</b></div>
            <div class="teacher">Socrates<b>: :wq will save AND exit</b></div>

            <div class="student">Glaucon<b>: so, does the file get saved, then?</b></div>

            <div class="teacher">Socrates<b>: yes, it does</b></div>
            <div class="teacher">Socrates<b>: but it will bitch at you if the file doesn't already have a class="header" name</b></div>
            <div class="teacher">Socrates<b>: so if you open from file (or have already saved)</b></div>

            <div class="teacher">Socrates<b>: the file will have an assosiated name</b></div>
            <div class="teacher">Socrates<b>: you got all that?</b></div>

            <div class="teacher">Socrates<b>: I know I am piling stuff on ya</b></div>
            <div class="student">Glaucon<b>: I'm following</b></div>

            <div class="student">Glaucon<b>: i just saved the file as tut.vim</b></div>
            <div class="student">Glaucon<b>: :w tut.vim</b></div>
            <div class="comment">

            Something I forgot to mention in this section (don't ask me how) is :e, you use :e to OPEN file, :e (file), you
            can also be specific and mention multiple files, sorry about skipping this important features!
            </div>


            <br/><br/><h3>Sidenote: Shit I should have told you before!</h3>

            <div class="teacher">Socrates<b>: ok, more sidetracking to things I forgot :)</b></div>
            <div class="teacher">Socrates<b>: in normal mode</b></div>
            <div class="teacher">Socrates<b>: hit "x" to delete a single char</b></div>

            <div class="student">Glaucon<b>: k</b></div>

            <div class="student">Glaucon<b>: ahh</b></div>
            <div class="student">Glaucon<b>: I was wondering that</b></div>
            <div class="student">Glaucon<b>: I was using dl to do that</b></div>
            <div class="teacher">Socrates<b>: very good :)</b></div>

            <div class="teacher">Socrates<b>: that is what I was about to tell you</b></div>
            <div class="teacher">Socrates<b>: dl would also work :)</b></div>
            <div class="teacher">Socrates<b>: ahh, other sidenotes :)</b></div>
            <div class="teacher">Socrates<b>: for moving around the file</b></div>
            <div class="teacher">Socrates<b>: hit gg in normal mode to go to start of file</b></div>

            <div class="teacher">Socrates<b>: hit (shift-g) (G) to go to end</b></div>
            <div class="student">Glaucon<b>: k</b></div>
            <div class="teacher">Socrates<b>: type a number followed by shift-g to goto that line</b></div>
            <div class="teacher">Socrates<b>: 2 (shift-g)</b></div>

            <div class="teacher">Socrates<b>: for line 2</b></div>

            <div class="teacher">Socrates<b>: on so forth</b></div>
            <div class="teacher">Socrates<b>: also, I assume you already realized you can do stuff like</b></div>
            <div class="teacher">Socrates<b>: 10k (move ten lines up)</b></div>

            <div class="teacher">Socrates<b>: etc</b></div>
            <div class="student">Glaucon<b>: vim is cool</b></div>

            <div class="teacher">Socrates<b>: hehe :)</b></div>
            <div class="teacher">Socrates<b>: told ya so :)</b></div>

            <div class="student">Glaucon<b>: never realized its power</b></div>
            <div class="teacher">Socrates<b>: and there is still more to learn :)</b></div>
            <div class="student">Glaucon<b>: heh</b></div>



            <br/><br/><h3>Objects again, you poor bastard!</h3>

            <div class="teacher">Socrates<b>: ok, ready for some more "objects" you can use in commands and movements</b></div>
            <div class="teacher">Socrates<b>: ^ --- start of line</b></div>
            <div class="student">Glaucon<b>: ok, a few</b></div>

            <div class="teacher">Socrates<b>: $ --- end of line</b></div>

            <div class="teacher">Socrates<b>: do d$ -- delete to end of line from current position</b></div>
            <div class="teacher">Socrates<b>: you already learned w correct?</b></div>
            <div class="teacher">Socrates<b>: let me show you a tweaked version of w</b></div>
            <div class="teacher">Socrates<b>: it is e</b></div>

            <div class="student">Glaucon<b>: word</b></div>
            <div class="teacher">Socrates<b>: e - from the cursor to the end of the word, NOT including the space.</b></div>
            <div class="teacher">Socrates<b>: w - from the cursor to the end of the word, including the space.</b></div>
            <div class="teacher">Socrates<b>: see the diff?</b></div>
            <div class="student">Glaucon<b>: ummm</b></div>

            <div class="student">Glaucon<b>: I don't get the e thing</b></div>
            <div class="teacher">Socrates<b>: when you do "dw" it deletes the word AND the space after it</b></div>
            <div class="student">Glaucon<b>: ahhh</b></div>
            <div class="student">Glaucon<b>: i see</b></div>

            <div class="teacher">Socrates<b>: if you hit "de" it will leave the trailing space</b></div>

            <div class="teacher">Socrates<b>: but I thoguht you should know.</b></div>
            <div class="student">Glaucon<b>: I can't see too much use for it</b></div>


            <br/><br/><h3>Undo/Redo (and a common problem with it)</h3>

            <div class="teacher">Socrates<b>: another AWESOME feature of vim</b></div>

            <div class="teacher">Socrates<b>: infinite undo/redo :)</b></div>
            <div class="teacher">Socrates<b>: in normal mode</b></div>
            <div class="teacher">Socrates<b>: hit "u" to undo</b></div>

            <div class="teacher">Socrates<b>: hit "control-r" to redo</b></div>
            <div class="teacher">Socrates<b>: and hit "shift-u" (U) to undo all changes to current LINE</b></div>

            <div class="student">Glaucon<b>: k</b></div>
            <div class="student">Glaucon<b>: cept "u" twice redoes the undo</b></div>

            <div class="teacher">Socrates<b>: ack, christ.</b></div>
            <div class="student">Glaucon<b>: "u" twice redoes it</b></div>
            <div class="teacher">Socrates<b>: you are in vi compatible mode probably</b></div>

            <div class="teacher">Socrates<b>: type this</b></div>

            <div class="teacher">Socrates<b>: :set nocompatible</b></div>
            <div class="teacher">Socrates<b>: in normal mode </b></div>
            <div class="student">Glaucon<b>: there</b></div>
            <div class="student">Glaucon<b>: now it works</b></div>

            <div class="teacher">Socrates<b>: ok, thank god :)</b></div>
            <div class="teacher">Socrates<b>: good point, that is going to be a problem for others probably too :)</b></div>
            <div class="teacher">Socrates<b>: did you try </b></div>
            <div class="teacher">Socrates<b>: "u", "control-r", "U"</b></div>
            <div class="student">Glaucon<b>: yup, they all work as advertized</b></div>



            <br/><br/><h3>Sidenote: Shit I should have told you before #2!</h3>
            <div class="teacher">Socrates<b>: another quick sidenote, hitting "r" over a char (in "normal mode" of course) will 
            allow you to replace it (try it)</b></div>
            <div class="teacher">Socrates<b>: back to objects for a moment, to change the rest of a line you would do</b></div>
            <div class="teacher">Socrates<b>: c$ (just a quick note) :)</b></div>

            <div class="teacher">Socrates<b>: did you try "r"</b></div>
            <div class="teacher">Socrates<b>: for replacing a single char </b></div>
            <div class="teacher">Socrates<b>: that is another "quick-change"</b></div>
            <div class="teacher">Socrates<b>: thing like "x"</b></div>

            <div class="student">Glaucon<b>: yes</b></div>

            <div class="student">Glaucon<b>: k</b></div>
            <div class="teacher">Socrates<b>: now try this out</b></div>
            <div class="teacher">Socrates<b>: type a starting and ending paren in you file</b></div>

            <div class="teacher">Socrates<b>: then goto the starting one</b></div>
            <div class="teacher">Socrates<b>: and type</b></div>

            <div class="student">Glaucon<b>: I have some starting and ending parens</b></div>
            <div class="teacher">Socrates<b>: "%" in normal mode</b></div>

            <div class="teacher">Socrates<b>: and it will find the matching one</b></div>
            <div class="teacher">Socrates<b>: very useful in deeply nested sourcecode</b></div>
            <div class="student">Glaucon<b>: k</b></div>



            <br/><br/><h3>Regular Expression and search/replace</h3>

            <div class="teacher">Socrates<b>: thing I forgot to ask</b></div>
            <div class="teacher">Socrates<b>: do you know howto do regular expressions?</b></div>
            <div class="student">Glaucon<b>: regexpr?</b></div>

            <div class="teacher">Socrates<b>: yep</b></div>

            <div class="student">Glaucon<b>: not familiar with the term</b></div>
            <div class="teacher">Socrates<b>: ok, well, that is more than I can get into in this conversation, but I will post a link for 
            future ref (don't goto it now)</b></div>
            <div class="teacher">Socrates<b>: <a href="http://puzzling.org/computing/help/vi-regexps.html">http://puzzling.org/computing/help/vi-regexps.html</a></b></div>

            <div class="student">Glaucon<b>: gotcha</b></div>

            <div class="teacher">Socrates<b>: ok, now to so a search and replace on the current line you do this </b></div>
            <div class="teacher">Socrates<b>: :s/old/new/g  </b></div>
            <div class="teacher">Socrates<b>: try it out.</b></div>
            <div class="teacher">Socrates<b>: :#,#s/old/new/g    where #,# are the numbers of the two lines, starting line first, 
            ending line second</b></div>

            <div class="teacher">Socrates<b>: :%s/old/new/g    to change every occurrence in the whole file.</b></div>
            <div class="student">Glaucon<b>: like, :s/file/newfile/g?</b></div>
            <div class="teacher">Socrates<b>: no</b></div>
            <div class="teacher">Socrates<b>: it is for replacing text in the current line</b></div>
            <div class="teacher">Socrates<b>: so if you line was </b></div>

            <div class="teacher">Socrates<b>: Hello World</b></div>
            <div class="teacher">Socrates<b>: then you did</b></div>
            <div class="teacher">Socrates<b>: s:/Hello/Hi Mom/g</b></div>
            <div class="teacher">Socrates<b>: then the line would read</b></div>

            <div class="teacher">Socrates<b>: Hi Mom World</b></div>

            <div class="teacher">Socrates<b>: you would have replaced "Hello" with "Hi Mom"</b></div>
            <div class="student">Glaucon<b>: ok</b></div>
            <div class="student">Glaucon<b>: got it</b></div>

            <div class="teacher">Socrates<b>: got the other two version too?</b></div>
            <div class="teacher">Socrates<b>: listed above?</b></div>

            <div class="student">Glaucon<b>: yes</b></div>
            <div class="student">Glaucon<b>: it works</b></div>

            <div class="teacher">Socrates<b>: cool cool</b></div>


            <br/><br/><h3>Running external commands and semi-related stuff</h3>

            <div class="teacher">Socrates<b>: now let me show ya how to run EXTERNAL commands :)</b></div>
            <div class="teacher">Socrates<b>: :!ls  -- run ls</b></div>

            <div class="teacher">Socrates<b>: a useful little command</b></div>
            <div class="teacher">Socrates<b>: the :! </b></div>
            <div class="student">Glaucon<b>: can it pipe the output to the file?</b></div>

            <div class="teacher">Socrates<b>: you can do anything you can do at console.. the CURRENT file is represented by %</b></div>

            <div class="student">Glaucon<b>: ahhh</b></div>
            <div class="student">Glaucon<b>: so</b></div>
            <div class="student">Glaucon<b>: :!ls &gt;&gt; %</b></div>
            <div class="student">Glaucon<b>: puts ls into the current file</b></div>

            <div class="teacher">Socrates<b>: try it out :)</b></div>
            <div class="student">Glaucon<b>: ok, having some trouble with that</b></div>
            <div class="student">Glaucon<b>: :!ls &gt;&gt; % doesn't work</b></div>
            <div class="teacher">Socrates<b>: it does in vim 6, and I am guessing it does you your version too, I am guessing it just is 
            not prompting you to reload.</b></div>

            <div class="teacher">Socrates<b>: I just tested it in vim 6</b></div>

            <div class="student">Glaucon<b>: ahh</b></div>
            <div class="teacher">Socrates<b>: it asks me to reload</b></div>
            <div class="student">Glaucon<b>: thats what that is</b></div>

            <div class="teacher">Socrates<b>: after the file has changed.</b></div>
            <div class="student">Glaucon<b>: how do I reload?</b></div>

            <div class="teacher">Socrates<b>: ahh, in 6 it asks you to reload, in vim 5.8 it just notified you that the file had been 
            changed, in vim 5.8 just </b></div>
            <div class="teacher">Socrates<b>: exit and come back in</b></div>

            <div class="student">Glaucon<b>: ok</b></div>
            <div class="teacher">Socrates<b>: stuffty solution I know</b></div>
            <div class="teacher">Socrates<b>: but, I don't know offhand how to quickly reload</b></div>

            <div class="student">Glaucon<b>: there it is</b></div>

            <div class="teacher">Socrates<b>: ok</b></div>
            <div class="teacher">Socrates<b>: now wanna see something cool? :)</b></div>
            <div class="student">Glaucon<b>: sure</b></div>
            <div class="teacher">Socrates<b>: :r FILENAME will insert that file at the current cursor position</b></div>

            <div class="comment">
             Another couple cool things you can do is :r !command (such as :r ls) to insert the output from a command into
            the current file.   Along those lines, you can also pass a command into vim with "cat file.txt | vim -" the floating
            dash at the end means, "read from stdin".   No need to test the second half of this little comment now, try it after
            you finish the <b>tutorial</b>
            </div>
            <div class="student">Glaucon<b>: heh</b></div>
            <div class="student">Glaucon<b>: even recursive:)</b></div>
            <div class="teacher">Socrates<b>: hehe :)</b></div>

            <div class="teacher">Socrates<b>: cool, didn't know that :)</b></div>
            <div class="teacher">Socrates<b>: ok, now you saw how "r"(for replacing a single char, not for inserting a file) worked right?</b></div>
            <div class="student">Glaucon<b>: yup</b></div>
            <div class="teacher">Socrates<b>: if you do "R" it puts you into a special mode of insert (called replace) -- it is 
            standard "overtype"</b></div>

            <div class="teacher">Socrates<b>: it will just type over whatever is there</b></div>

            <div class="teacher">Socrates<b>: I have never actually used it</b></div>
            <div class="teacher">Socrates<b>: but I assume it has uses</b></div>
            <div class="student">Glaucon<b>: yea</b></div>

            <div class="student">Glaucon<b>: retro feel to the old Apple II:)</b></div>


            <br/><br/><h3>Recording Macros</h3>

            <div class="teacher">Socrates<b>: to record a macro (a recorded set of commands)</b></div>
            <div class="teacher">Socrates<b>: you do</b></div>

            <div class="student">Glaucon<b>: macros? AWESOME!!</b></div>
            <div class="teacher">Socrates<b>: q[start](key to "save" the macro to) (whatever you want macro todo, just do it here) 
            q(to stop)</b></div>
            <div class="teacher">Socrates<b>: you can enter insert mode while recording the macro</b></div>

            <div class="teacher">Socrates<b>: so lets do this </b></div>

            <div class="teacher">Socrates<b>: lets walk thru it step by step</b></div>
            <div class="student">Glaucon<b>: yea</b></div>
            <div class="teacher">Socrates<b>: in normal mode</b></div>
            <div class="teacher">Socrates<b>: hit q</b></div>

            <div class="teacher">Socrates<b>: now hit the key you want to bind the macro (use m)</b></div>
            <div class="student">Glaucon<b>: k</b></div>
            <div class="student">Glaucon<b>: ok, now recording</b></div>
            <div class="teacher">Socrates<b>: ok, now type i (to get to insert mode)</b></div>
            <div class="teacher">Socrates<b>: then type "Hello World"</b></div>

            <div class="teacher">Socrates<b>: then type esc to get back to normal mode</b></div>
            <div class="teacher">Socrates<b>: and then hit q to stop recording the macro</b></div>
            <div class="student">Glaucon<b>: k</b></div>
            <div class="teacher">Socrates<b>: now to RUN it </b></div>

            <div class="teacher">Socrates<b>: you hit</b></div>

            <div class="teacher">Socrates<b>: @m </b></div>
            <div class="student">Glaucon<b>: ahh</b></div>
            <div class="student">Glaucon<b>: didn't know how to run it</b></div>

            <div class="student">Glaucon<b>: got it now</b></div>
            <div class="teacher">Socrates<b>: ok, cool, once you run a macro</b></div>

            <div class="teacher">Socrates<b>: it can be re-run by hitting</b></div>
            <div class="teacher">Socrates<b>: @@ (another one of those quick commands)</b></div>

            <div class="teacher">Socrates<b>: so you can just go @@@@@@@@ to run a command 4 times</b></div>
            <div class="teacher">Socrates<b>: I think you can see why it would be easy :)</b></div>
            <div class="student">Glaucon<b>: yea</b></div>

            <div class="teacher">Socrates<b>: a few other things to note</b></div>

            <div class="teacher">Socrates<b>: before I get to the url</b></div>
            <div class="teacher">Socrates<b>: type this</b></div>
            <div class="teacher">Socrates<b>: :abbreviate myname (your full name here, all three or more parts)</b></div>
            <div class="student">Glaucon<b>: ok</b></div>

            <div class="teacher">Socrates<b>: no go into "insert mode"</b></div>
            <div class="teacher">Socrates<b>: and type "myname "</b></div>
            <div class="teacher">Socrates<b>: notice the space at the end</b></div>
            <div class="teacher">Socrates<b>: it is important</b></div>
            <div class="student">Glaucon<b>: wow</b></div>

            <div class="teacher">Socrates<b>: wow indeed my friend :)</b></div>
            <div class="teacher">Socrates<b>: think of the power</b></div>
            <div class="teacher">Socrates<b>: and you can even position the cursor back a few</b></div>
            <div class="student">Glaucon<b>: so, chp can be char *</b></div>

            <div class="student">Glaucon<b>: and vd can be void</b></div>

            <div class="teacher">Socrates<b>: ahh yes</b></div>
            <div class="teacher">Socrates<b>: but I think you should be more bold</b></div>
            <div class="teacher">Socrates<b>: why not make it type out entire command blocks?</b></div>

            <div class="teacher">Socrates<b>: let me show you something</b></div>
            <div class="student">Glaucon<b>: ok</b></div>

            <div class="teacher">Socrates<b>: :abbreviate xMain int main( ) &lt;CR&gt;&lt;CR&gt;&lt;CR&gt;&lt;UP&gt;&lt;UP&gt;&lt;UP&gt;</b></div>

            <div class="teacher">Socrates<b>: hell, using &lt;LEFT&gt; you could even put the curson in the right spot :)</b></div>
            <div class="teacher">Socrates<b>: you can also abbrev common html color codes you use </b></div>
            <div class="teacher">Socrates<b>: :abbreviate htmlGreen #001122</b></div>
            <div class="teacher">Socrates<b>: and stuff like that :)</b></div>

            <div class="student">Glaucon<b>: so</b></div>
            <div class="student">Glaucon<b>: &lt;CR&gt; is literally "&lt;CR&gt;"?</b></div>
            <div class="teacher">Socrates<b>: yep</b></div>

            <div class="student">Glaucon<b>: ohhh</b></div>
            <div class="teacher">Socrates<b>: there are alot of things like that</b></div>

            <div class="teacher">Socrates<b>: you can also bind keys using "mappings"</b></div>
            <div class="student">Glaucon<b>: how do I unset one?</b></div>

            <div class="teacher">Socrates<b>: unset an abbrev?</b></div>
            <div class="student">Glaucon<b>: I set xMain to int main( ) &lt;</b></div>
            <div class="student">Glaucon<b>: cuz I just pressed the return key</b></div>

            <div class="student">Glaucon<b>: now, I try to reset it</b></div>

            <div class="teacher">Socrates<b>: unabbreviate :)</b></div>
            <div class="student">Glaucon<b>: ahhh</b></div>
            <div class="teacher">Socrates<b>: or just set OVER it</b></div>
            <div class="student">Glaucon<b>: no, can't set over it</b></div>

            <div class="student">Glaucon<b>: i tried</b></div>
            <div class="student">Glaucon<b>: when I type xMain in the command line it expands it</b></div>
            <div class="teacher">Socrates<b>: you need todo a trick</b></div>
            <div class="teacher">Socrates<b>: there is a better way (that I don't know)</b></div>
            <div class="teacher">Socrates<b>: but I do this</b></div>

            <div class="teacher">Socrates<b>: type</b></div>
            <div class="teacher">Socrates<b>: :abbreviate x Main do some stuff</b></div>
            <div class="teacher">Socrates<b>: then backspace to get rid of the space between x and Main</b></div>
            <div class="teacher">Socrates<b>: and that will work</b></div>

            <div class="teacher">Socrates<b>: there IS a better way</b></div>

            <div class="teacher">Socrates<b>: but is a little complex for this intro</b></div>
            <div class="student">Glaucon<b>: got it</b></div>
            <div class="teacher">Socrates<b>: there is a ton more to learn</b></div>

            <div class="teacher">Socrates<b>: about buffers</b></div>
            <div class="teacher">Socrates<b>: split windows</b></div>

            <div class="teacher">Socrates<b>: your own custom little scripts</b></div>
            <div class="teacher">Socrates<b>:  syntax highlighting, folding, ftp browsing, file browsing</b></div>

            <div class="teacher">Socrates<b>: etc etc </b></div>
            <div class="teacher">Socrates<b>: but I think that this is by FAR enough info for a first sitting</b></div>
            <div class="teacher">Socrates<b>: I recommend you get vim 6.0</b></div>

            <div class="student">Glaucon<b>: yes</b></div>

            <div class="student">Glaucon<b>: I will</b></div>
            <div class="teacher">Socrates<b>: and that you use gvim</b></div>
            <div class="student">Glaucon<b>: now that I can use it:)</b></div>
            <div class="teacher">Socrates<b>: http://www.vim.org for more info on this amazing editor</b></div>

            <div class="teacher">Socrates<b>: and for add on scripts and such</b></div>
            <div class="teacher">Socrates<b>: http://vim.sourceforge.net</b></div>
            <div class="student">Glaucon<b>: well, again, thank you</b></div>
            <div class="comment">
            In closing, there is one VERY import thing I totally forgot to tell "Glaucon" and that is about using vims help system, and can 
            not believe I left it out, but just type :h command (or part of command) to search the help for that command, and learn to use it 
            often, and you will learn the power of vim more quickly.
            Vim has hundreds of features that I did not mention, I only showed "Glaucon" the stuff I use most often, and the stuff I find 
            most useful.   My personal way of working with vim is with Multiple Buffer, in gvim, on linux 2.4.x.  Please do not think after
            you have finished this little page you know all the tricks of vim, you don't, but you got a damn good start :)  
            Thanks for reading!
            </div>

            <br/><br/><h2>The first addition to my little tutorial</h2>
            Open up vim same as you did for my first little <b>tutorial</b>, again Socrates played by <b>MetaCosm</b> of #vim fame :)



            <h3>Splitting (using little windows) in vim</h3>
            <div class="teacher">Socrates<b>:	then we shall begin the "windowing" <b>tutorial</b></b></div>
            <div class="student">Glaucon<b>:	my term is already set to those settings i think..</b></div>
            <div class="student">Glaucon<b>:	anyway, go on :D</b></div>

            <div class="teacher">Socrates<b>:	ok</b></div>
            <div class="teacher">Socrates<b>:	so you wanted to learn howto use windowing right?</b></div>
            <div class="student">Glaucon<b>:	right</b></div>
            <div class="teacher">Socrates<b>:	ok</b></div>

            <div class="teacher">Socrates<b>:	are you using 6.0</b></div>

            <div class="teacher">Socrates<b>:	or 5.x</b></div>
            <div class="teacher">Socrates<b>:	?</b></div>
            <div class="student">Glaucon<b>:	6.0</b></div>

            <div class="teacher">Socrates<b>:	ok</b></div>
            <div class="teacher">Socrates<b>:	so you have the vertical split :)</b></div>

            <div class="teacher">Socrates<b>:	very groovey stuff</b></div>
            <div class="teacher">Socrates<b>:	first, lets show a "normal split"</b></div>

            <div class="student">Glaucon<b>:	alright then</b></div>
            <div class="teacher">Socrates<b>:	(control-w)s   </b></div>
            <div class="teacher">Socrates<b>:	(control-w)  -- think of it as for "window"</b></div>

            <div class="student">Glaucon<b>:	oooh</b></div>

            <div class="student">Glaucon<b>:	nice</b></div>
            <div class="teacher">Socrates<b>:	in normal mode of course :)</b></div>
            <div class="teacher">Socrates<b>:	now to switch between them</b></div>
            <div class="teacher">Socrates<b>:	do (control-w)w</b></div>

            <div class="student">Glaucon<b>:	that works</b></div>
            <div class="teacher">Socrates<b>:	now, to do a vertical split try, (control-w)v</b></div>
            <div class="student">Glaucon<b>:	ahh</b></div>
            <div class="student">*	Glaucon<b> is impressed</b></div>

            <div class="teacher">Socrates<b>:	now, often when you have a new "split" you want it to be on a new file</b></div>
            <div class="teacher">Socrates<b>:	you do </b></div>
            <div class="teacher">Socrates<b>:	(control-w)n</b></div>
            <div class="teacher">Socrates<b>:	to start a new split, on a new buffer</b></div>

            <div class="student">Glaucon<b>:	mmm, cool</b></div>

            <div class="teacher">Socrates<b>:	now do close a "split"</b></div>
            <div class="teacher">Socrates<b>:	you do </b></div>
            <div class="teacher">Socrates<b>:	(control-w)n</b></div>

            <div class="teacher">Socrates<b>:	ack</b></div>
            <div class="teacher">Socrates<b>:	sorry</b></div>

            <div class="teacher">Socrates<b>:	(control-w)c</b></div>
            <div class="student">Glaucon<b>:	cool</b></div>

            <div class="student">Glaucon<b>:	is there a way to cycle thru them in reverse ?</b></div>
            <div class="teacher">Socrates<b>:	now, I should mention I teach from memory, and I have never used reverse cycle,
            but I am certain there is one, give me a moment :)</b></div>
            <div class="student">Glaucon<b>:	heh ok :D</b></div>

            <div class="student">Glaucon<b>:	i'd just think it would be annoying have 5 splits, and going forward one, then having 
            to go forward 4 again to get back to the first one</b></div>

            <div class="teacher">Socrates<b>:	ok</b></div>
            <div class="teacher">Socrates<b>:	lets finish up what I am clueful about (this is kinda broken with vertical splits)</b></div>
            <div class="student">Glaucon<b>:	hehe ok</b></div>
            <div class="teacher">Socrates<b>:	(control-w)R (switch this split and NEXT split)</b></div>

            <div class="teacher">Socrates<b>:	(control-w)r (and LAST split)</b></div>
            <div class="teacher">Socrates<b>:	basically up and down with normal splits</b></div>
            <div class="teacher">Socrates<b>:	or left and right with vert splits</b></div>
            <div class="student">Glaucon<b>:	hm</b></div>
            <div class="student">Glaucon<b>:	let me try that</b></div>

            <div class="student">Glaucon<b>:	hm interesting</b></div>
            <div class="teacher">Socrates<b>:	... ?</b></div>
            <div class="teacher">Socrates<b>:	what is..</b></div>
            <div class="student">Glaucon<b>:	this rotating</b></div>

            <div class="teacher">Socrates<b>:	ahh, yeah</b></div>

            <div class="teacher">Socrates<b>:	ahh, and guess what!</b></div>
            <div class="student">Glaucon<b>:	what?</b></div>
            <div class="teacher">Socrates<b>:	there ARE directional movement keys :)</b></div>

            <div class="teacher">Socrates<b>:	I found them</b></div>
            <div class="student">Glaucon<b>:	neat</b></div>

            <div class="teacher">Socrates<b>:	move a window UP (control-w)(control-k)  <span class="comment">[same way you move a line up, neat ey?]</span></b></div>
            <div class="student">Glaucon<b>:	yeah</b></div>

            <div class="teacher">Socrates<b>:	jhkl move around exactly as you would expect :)</b></div>
            <div class="student">Glaucon<b>:	ooh, so its the same as moving regularly</b></div>

            <div class="student">Glaucon<b>:	that's pretty cool</b></div>
            <div class="student">Glaucon<b>:	easy to remember</b></div>

            <div class="teacher">Socrates<b>:	yep. </b></div>
            <div class="teacher">Socrates<b>:	ohhh, on more item to mention</b></div>
            <div class="teacher">Socrates<b>:	lets say you want to focus on a single task</b></div>

            <div class="teacher">Socrates<b>:	just one thing</b></div>

            <div class="teacher">Socrates<b>:	you goto it</b></div>
            <div class="teacher">Socrates<b>:	and do a </b></div>
            <div class="teacher">Socrates<b>:	(control-w)o   </b></div>
            <div class="teacher">Socrates<b>:	that makes it the "only" thing you are looking at.</b></div>



            <br/><br/><h3>Using Buffers and stuff</h3>
            <div class="student">Glaucon<b>:	uh huh</b></div>
            <div class="student">Glaucon<b>:	and to bring the others back ?</b></div>
            <div class="teacher">Socrates<b>:	they are buffers </b></div>

            <div class="teacher">Socrates<b>:	you can split and show whatever buffer you like</b></div>
            <div class="teacher">Socrates<b>:	or, have you not learned buffers yet?</b></div>
            <div class="student">Glaucon<b>:	i know a bit about buffers</b></div>
            <div class="student">Glaucon<b>:	but i'm not sure how to switch between them</b></div>

            <div class="teacher">Socrates<b>:	:bp (prev buffer) and :bn (next buffer)</b></div>

            <div class="student">Glaucon<b>:	ooh</b></div>
            <div class="teacher">Socrates<b>:	or :buffers will show you a list with numbers</b></div>
            <div class="teacher">Socrates<b>:	and you can do</b></div>

            <div class="teacher">Socrates<b>:	:buffer #</b></div>
            <div class="student">Glaucon<b>:	cool</b></div>

            <div class="student">Glaucon<b>:	any shortcut for :buffer ?</b></div>
            <div class="teacher">Socrates<b>:	try :b</b></div>

            <div class="teacher">Socrates<b>:	but I am not sure.</b></div>
            <div class="teacher">Socrates<b>:	tell me if it works</b></div>
            <div class="teacher">Socrates<b>:	this is going in the <b>tutorial</b> you know :)</b></div>

            <div class="student">Glaucon<b>:	eh</b></div>

            <div class="student">Glaucon<b>:	the shortcut is :ls</b></div>
            <div class="teacher">Socrates<b>:	that is the shortcut for buffers</b></div>
            <div class="teacher">Socrates<b>:	not buffer</b></div>
            <div class="teacher">Socrates<b>:	they are diff :)</b></div>

            <div class="student">Glaucon<b>:	oh</b></div>
            <div class="teacher">Socrates<b>:	:buffer #</b></div>
            <div class="teacher">Socrates<b>:	to GOTO a buffer</b></div>
            <div class="student">Glaucon<b>:	yeah, :b works</b></div>
            <div class="teacher">Socrates<b>:	:buffers to list buffers</b></div>

            <div class="teacher">Socrates<b>:	so :buffers or :ls works</b></div>
            <div class="teacher">Socrates<b>:	and :b or :buffer works :)</b></div>
            <div class="student">Glaucon<b>:	heh, glad we got that figured out :D</b></div>
            <div class="teacher">Socrates<b>:	yep.</b></div>

            <br/><br/><h2>The first addition to my little <b>tutorial</b> done by someone else.</h2>


            <h3>Folding in vim (by rik)</h3>

            <div class="student">Glaucon<b>: okay, the real reason I'm here.. I've just moved from vim 5 to vim 6 (hooray!) and 
            I'm wondering what this folding thing is. Can you tell me about it?</b></div>

            <div class="teacher">Socrates<b>: yup sure. pop open an vim, and I'll go through it with you</b></div>
            <div class="student">Glaucon<b>: done</b></div>
            <div class="teacher">Socrates<b>: okay, first, edit your .vimrc file, and add:</b></div>

            <div class="teacher">Socrates<b>: " if using a version 6 vim, enable folding</b></div>
            <div class="teacher">Socrates<b>: if version &gt;= 600</b></div>

            <div class="teacher">Socrates<b>: set foldenable</b></div>
            <div class="teacher">Socrates<b>: set foldmethod=marker</b></div>

            <div class="teacher">Socrates<b>: endif</b></div>
            <div class="teacher">Socrates<b>: that'll enable folding on vim version 6 and higher, but not anything less, 
            because everyon takes their .vimrc fies with them from machine to machine, don't they :)</b></div>
            <div class="teacher">Socrates<b>: okay, now, if you open up a new .c file (or any file, in fact), after reloading
            your .vimrc (:source ~/.vimrc will do the trick), then you'll be ready to begin</b></div>

            
            <div class="comment">

            Editor's note: Reloading your .vimrc file can sometimes cause unforseen
            problems. It's safer to quit vim and restart it.
            </div>
            
            <div class="teacher">Socrates<b>: okay, say you've got a function, that looks like this (pause while he creates
            this function himself):</b></div>
            <div class="teacher">Socrates<b>: * greet - prints "Hello World" to stdout</b></div>

            <div class="teacher">Socrates<b>: * in: no arguments</b></div>

            <div class="teacher">Socrates<b>: * out: no return value</b></div>
            <div class="teacher">Socrates<b>: */</b></div>
            <div class="teacher">Socrates<b>: void greet (void)</b></div>
            <div class="teacher">Socrates<b>: {   </b></div>

            <div class="teacher">Socrates<b>: printf( "Hello World!\n" );</b></div>
            <div class="teacher">Socrates<b>: return;</b></div>
            <div class="teacher">Socrates<b>: }</b></div>
            <div class="teacher">Socrates<b>: uhm. there's supposed to be a "/*" for the first line. silly irc thought 
            it was an unknown command :)</b></div>
            <div class="teacher">Socrates<b>: anyway, it's a complete function, and you know it works, so what you'd like to do is 
            hide it... well, change the layout to this, and watch the magic start to happen:</b></div>

            <div class="teacher">Socrates<b>: /* {{{ greet - prints "Hello World" to stdout</b></div>
            <div class="teacher">Socrates<b>: * in: no arguments</b></div>
            <div class="teacher">Socrates<b>: * out: no return value</b></div>
            <div class="teacher">Socrates<b>: */</b></div>

            <div class="teacher">Socrates<b>: void greet (void)</b></div>

            <div class="teacher">Socrates<b>: {</b></div>
            <div class="teacher">Socrates<b>: printf( "Hello World!\n" );</b></div>
            <div class="teacher">Socrates<b>: return;</b></div>

            <div class="teacher">Socrates<b>: } /* }}} */</b></div>
            <div class="student">Glaucon<b>: uhm. what are those "{{{" and the "}}}" in a comment there for?</b></div>

            <div class="teacher">Socrates<b>: they're the magic markers. you're probably thinking "but nothing's happened yet. 
            what's going on"</b></div>
            <div class="student">Glaucon<b>: yup. dead on right!</b></div>

            <div class="teacher">Socrates<b>: okay, put your cursor anywhere into the function, and (in normal mode) type "zc" (without the quotes)</b></div>
            <div class="student">Glaucon<b>: WOW!</b></div>
            <div class="teacher">Socrates<b>: I got this:</b></div>

            <div class="teacher">Socrates<b>: +-- 10 lines: /say greet - prints "Hello World" to stdout-----------------------</b></div>

            <div class="student">Glaucon<b>: yeah. only I got it without the /say because I'm not trying to paste to IRC :)</b></div>
            <div class="student">Glaucon<b>: wow</b></div>
            <div class="student">Glaucon<b>: okay, so I can hide all this stuff, and keep the top line as a comment.</b></div>
            <div class="student">Glaucon<b>: okay, so.. uh.. how do I get it back again?</b></div>

            <div class="teacher">Socrates<b>: well, in "zc", c == close.. and you want to open it again</b></div>
            <div class="student">Glaucon<b>: so, "zo" ?</b></div>
            <div class="teacher">Socrates<b>: yup</b></div>
            <div class="student">Glaucon<b>: cool.</b></div>
            <div class="teacher">Socrates<b>: there's only two other things. When you start to edit a file, vim will fold 
            up *everything* to start with</b></div>

            <div class="teacher">Socrates<b>: so you'll have to open what you want to work on</b></div>
            <div class="student">Glaucon<b>: 'k</b></div>
            <div class="teacher">Socrates<b>: and finally, :help folding will tell you the other commands, which I haven't 
            told you about because I don't use them :)</b></div>
            <div class="student">Glaucon<b>: cool.</b></div>

            <div class="student">Glaucon<b>: okay, many thanks. </b></div>

            <div class="teacher">Socrates<b>: no problem. want to know about remote editing?</b></div>
            <div class="student">Glaucon<b>: *blink* remote editing? YES! oh, but I gotta go. next time?</b></div>
            <div class="teacher">Socrates<b>: sure.</b></div>

            <br/><br/><h2>Common Questions/Answers and Randomness </h2>

            <div>To reselect what you just had selected use 'gv' -- Thanks Heptite</div>
            <div>To redo the very last operation just hit "." -- Thanks Heptite</div>
            <div>To go a page forward, or a page back use control-f and control-b.</div>

            <div>To go a paragraph forward, or a paragraph back, use &lt; and &gt; (in normal mode of course)</div>
            <div>To go a sentence forward, or a sentence back, use ( and ) (in normal mode of course)</div>
            <div>To go to the next instance of a char you use f-char <span class="comment">[example, f; to goto the semicolon in the line, you can use t in the same fashion to go to the char BEFORE the char you are searching for]</span></div>
</div>
<br /><br />
<!--# include file="footer.html" -->
