<!--# include file="header.html" -->
<h2>Example .vimrc</h2>
<div class="articles">
<table width="100%" bgcolor="black">
<tbody bgcolor="#000" text="#fff"><tr><td><font face="monospace" color="white">
<span style="background-color: #000000"><font color="#737373">&nbsp;&nbsp;1 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; Modeline and Notes {</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;&nbsp;2 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot;&nbsp;&nbsp; vim: set foldmarker={,} foldlevel=0 spell:</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;&nbsp;3 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot;</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;&nbsp;4 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot;&nbsp;&nbsp; This is my personal .vimrc, I don't recommend you copy it, just </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;&nbsp;5 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot;&nbsp;&nbsp; use the &quot;&nbsp;&nbsp; pieces you want(and understand!).&nbsp;&nbsp;When you copy a </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;&nbsp;6 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot;&nbsp;&nbsp; .vimrc in its entirety, weird and unexpected things can happen.</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;&nbsp;7 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot;</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;&nbsp;8 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot;&nbsp;&nbsp; If you find an obvious mistake hit me up at:</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;&nbsp;9 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot;&nbsp;&nbsp; <a href="http://robertmelton.com/contact">http://robertmelton.com/contact</a> (many forms of communication)</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;10 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;11 </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;12 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; Basics {</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;13 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">nocompatible</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; explicitly get out of vi-compatible mode</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;14 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">noexrc</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; don't use local version of .(g)vimrc, .exrc</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;15 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">background</font></span>=dark&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; we plan to use a dark background</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;16 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">cpoptions</font></span>=aABceFsmq<br>
<span style="background-color: #000000"><font color="#737373">&nbsp;17 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |||||||||</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;18 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ||||||||+-- When joining lines, leave the cursor </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;19 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |||||||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;between joined lines</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;20 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |||||||+-- When a new match is created (showmatch) </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;21 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ||||||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pause for .5</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;22 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ||||||+-- Set buffer options when entering the </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;23 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |||||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;buffer</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;24 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |||||+-- :write command updates current file name</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;25 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ||||+-- Automatically add &lt;CR&gt; to the last line </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;26 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when using :@r</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;27 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |||+-- Searching continues at the end of the match </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;28 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at the cursor position</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;29 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ||+-- A backslash has no special meaning in mappings</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;30 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |+-- :write updates alternative file name</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;31 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +-- :read updates alternative file name</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;32 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>syntax</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>on</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; syntax highlighting on</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;33 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;34 </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;35 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; General {</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;36 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>filetype</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>plugin</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>indent</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>on</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; load filetype plugins/indent settings</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;37 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">autochdir</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; always switch to the current file directory </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;38 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">backspace</font></span>=indent<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>eol<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>start&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; make backspace a more flexible</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;39 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">backup</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; make backup files</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;40 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">backupdir</font></span>=~/.vim/backup&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; where to put backup files</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;41 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">clipboard</font></span>+=unnamed&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; share windows clipboard</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;42 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">directory</font></span>=~/.vim/tmp&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; directory to place swap files in</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;43 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">fileformats</font></span>=unix<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>dos<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>mac&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; support all three, in this order</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;44 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">hidden</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; you can change buffers without saving</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;45 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; (</font></span><span style="background-color: #000000"><font color="#00ffff">XXX</font></span><span style="background-color: #000000"><font color="#80a0ff">: #VIM/tpope warns the line below could break things)</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;46 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">iskeyword</font></span>+=_<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>$<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>@<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>%<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>#&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; none of these are word dividers </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;47 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">mouse</font></span>=a&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; use mouse everywhere</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;48 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">noerrorbells</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; don't make noise</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;49 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">whichwrap</font></span>=b<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>s<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>h<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>l<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span><span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">,</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>~<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>[<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>]&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; everything wraps</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;50 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | | | | | | | | |</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;51 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | | | | | | | | +-- </font></span><span style="background-color: #000000"><font color="#ffa0a0">&quot;]&quot;</font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;Insert and Replace</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;52 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | | | | | | | +-- </font></span><span style="background-color: #000000"><font color="#ffa0a0">&quot;[&quot;</font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;Insert and Replace</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;53 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | | | | | | +-- </font></span><span style="background-color: #000000"><font color="#ffa0a0">&quot;~&quot;</font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;Normal</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;54 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | | | | | +-- &lt;Right&gt; Normal and Visual</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;55 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | | | | +-- &lt;Left&gt; Normal and Visual</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;56 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | | | +-- </font></span><span style="background-color: #000000"><font color="#ffa0a0">&quot;l&quot;</font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;Normal and Visual (not recommended)</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;57 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | | +-- </font></span><span style="background-color: #000000"><font color="#ffa0a0">&quot;h&quot;</font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;Normal and Visual (not recommended)</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;58 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | +-- &lt;Space&gt; Normal and Visual</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;59 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +-- &lt;BS&gt; Normal and Visual</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;60 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">wildmenu</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; turn on command line completion wild style</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;61 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; ignore these list file extensions</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;62 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">wildignore</font></span>=*.dll<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>*.o<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>*.obj<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>*.bak<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>*.exe<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>*.pyc,<br>
<span style="background-color: #000000"><font color="#737373">&nbsp;63 </font></span><span style="background-color: #000000"><font color="#ffa500">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\</font></span>*<span style="background-color: #000000"><font color="#ffff60">.</font></span>jpg,*<span style="background-color: #000000"><font color="#ffff60">.</font></span>gif,*<span style="background-color: #000000"><font color="#ffff60">.</font></span>png<br>
<span style="background-color: #000000"><font color="#737373">&nbsp;64 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">wildmode</font></span>=list<span style="background-color: #000000"><font color="#ffff60"><b>:</b></font></span>longest&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; turn on wild mode huge list</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;65 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;66 </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;67 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; Vim UI {</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;68 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">cursorcolumn</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; highlight the current column</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;69 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">cursorline</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; highlight current line</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;70 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">incsearch</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; BUT do highlight as you type you </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;71 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; search phrase</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;72 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">laststatus</font></span>=2&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; always show the status line</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;73 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">lazyredraw</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; do not redraw while running macros</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;74 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">linespace</font></span>=0&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; don't insert any extra pixel lines </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;75 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; betweens rows</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;76 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">list</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; we do what to show tabs, to ensure we get them </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;77 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; out of my files</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;78 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">listchars</font></span>=tab<span style="background-color: #000000"><font color="#ffff60"><b>:</b></font></span>&gt;-<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>trail<span style="background-color: #000000"><font color="#ffff60"><b>:</b></font></span>-&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; show tabs and trailing </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;79 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">matchtime</font></span>=5&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; how many tenths of a second to blink </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;80 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; matching brackets for</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;81 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">nohlsearch</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; do not highlight searched for phrases</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;82 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">nostartofline</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; leave my cursor where it was</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;83 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">novisualbell</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; don't blink</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;84 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">number</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; turn on line numbers</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;85 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">numberwidth</font></span>=5&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; We are good up to 99999 lines</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;86 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">report</font></span>=0&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; tell us when anything is changed via :...</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;87 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">ruler</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; Always show current positions along the bottom</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;88 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">scrolloff</font></span>=10&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; Keep 10 lines (top/bottom) for scope</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;89 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">shortmess</font></span>=aOstT&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; shortens messages to avoid </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;90 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; 'press a key' prompt</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;91 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">showcmd</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; show the command being typed</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;92 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">showmatch</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; show matching brackets</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;93 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">sidescrolloff</font></span>=10&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; Keep 5 lines at the size</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;94 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">statusline</font></span>=%F%m%r%h%w[%L][%{&amp;ff}]%y[%p%%][%04l<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>%04v]<br>
<span style="background-color: #000000"><font color="#737373">&nbsp;95 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | | |&nbsp;&nbsp;|&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;|</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;96 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | | |&nbsp;&nbsp;|&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;+ current </font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;97 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | | |&nbsp;&nbsp;|&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; column</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;98 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | | |&nbsp;&nbsp;|&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; +-- current line</font></span><br>
<span style="background-color: #000000"><font color="#737373">&nbsp;99 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | | |&nbsp;&nbsp;|&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;+-- current % into file</font></span><br>
<span style="background-color: #000000"><font color="#737373">100 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | | |&nbsp;&nbsp;|&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+-- current syntax in </font></span><br>
<span style="background-color: #000000"><font color="#737373">101 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | | |&nbsp;&nbsp;|&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;square brackets</font></span><br>
<span style="background-color: #000000"><font color="#737373">102 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | | |&nbsp;&nbsp;|&nbsp;&nbsp; +-- current fileformat</font></span><br>
<span style="background-color: #000000"><font color="#737373">103 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | | |&nbsp;&nbsp;+-- number of lines</font></span><br>
<span style="background-color: #000000"><font color="#737373">104 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | | +-- preview flag in square brackets</font></span><br>
<span style="background-color: #000000"><font color="#737373">105 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | | +-- help flag in square brackets</font></span><br>
<span style="background-color: #000000"><font color="#737373">106 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| | +-- readonly flag in square brackets</font></span><br>
<span style="background-color: #000000"><font color="#737373">107 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| +-- rodified flag in square brackets</font></span><br>
<span style="background-color: #000000"><font color="#737373">108 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+-- full path to file in the buffer</font></span><br>
<span style="background-color: #000000"><font color="#737373">109 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">110 </font></span><br>
<span style="background-color: #000000"><font color="#737373">111 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; Text Formatting/Layout {</font></span><br>
<span style="background-color: #000000"><font color="#737373">112 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">completeopt</font></span>=&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; don't use a pop up menu for completions</font></span><br>
<span style="background-color: #000000"><font color="#737373">113 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">expandtab</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; no real tabs please!</font></span><br>
<span style="background-color: #000000"><font color="#737373">114 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">formatoptions</font></span>=rq&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; Automatically insert comment leader on return, </font></span><br>
<span style="background-color: #000000"><font color="#737373">115 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; and let gq format comments</font></span><br>
<span style="background-color: #000000"><font color="#737373">116 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">ignorecase</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; case insensitive by default</font></span><br>
<span style="background-color: #000000"><font color="#737373">117 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">infercase</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; case inferred by default</font></span><br>
<span style="background-color: #000000"><font color="#737373">118 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">nowrap</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; do not wrap line</font></span><br>
<span style="background-color: #000000"><font color="#737373">119 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">shiftround</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; when at 3 spaces, and I hit &gt; ... go to 4, not 5</font></span><br>
<span style="background-color: #000000"><font color="#737373">120 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">smartcase</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; if there are caps, go case-sensitive</font></span><br>
<span style="background-color: #000000"><font color="#737373">121 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">shiftwidth</font></span>=4&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; auto-indent amount when using cindent, </font></span><br>
<span style="background-color: #000000"><font color="#737373">122 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; &gt;&gt;, &lt;&lt; and stuff like that</font></span><br>
<span style="background-color: #000000"><font color="#737373">123 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">softtabstop</font></span>=4&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; when hitting tab or backspace, how many spaces </font></span><br>
<span style="background-color: #000000"><font color="#737373">124 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot;should a tab be (see expandtab)</font></span><br>
<span style="background-color: #000000"><font color="#737373">125 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">tabstop</font></span>=8&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; real tabs should be 8, and they will show with </font></span><br>
<span style="background-color: #000000"><font color="#737373">126 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; set list on</font></span><br>
<span style="background-color: #000000"><font color="#737373">127 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">128 </font></span><br>
<span style="background-color: #000000"><font color="#737373">129 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; Folding {</font></span><br>
<span style="background-color: #000000"><font color="#737373">130 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">foldenable</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; Turn on folding</font></span><br>
<span style="background-color: #000000"><font color="#737373">131 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">foldmarker</font></span>={<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>}&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; Fold C style code (only use this as default </font></span><br>
<span style="background-color: #000000"><font color="#737373">132 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; if you use a high foldlevel)</font></span><br>
<span style="background-color: #000000"><font color="#737373">133 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">foldmethod</font></span>=marker&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; Fold on the marker</font></span><br>
<span style="background-color: #000000"><font color="#737373">134 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">foldlevel</font></span>=100&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; Don't autofold anything (but I can still </font></span><br>
<span style="background-color: #000000"><font color="#737373">135 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; fold manually)</font></span><br>
<span style="background-color: #000000"><font color="#737373">136 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">foldopen</font></span>=block<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>hor<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>mark<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>percent<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>quickfix<span style="background-color: #000000"><font color="#ffff60"><b>,</b></font></span>tag&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; what movements</font></span><br>
<span style="background-color: #000000"><font color="#737373">137 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; open folds </font></span><br>
<span style="background-color: #000000"><font color="#737373">138 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>function</b></font></span>&nbsp;SimpleFoldText<span style="background-color: #000000"><font color="#ffff60">()</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; {</font></span><br>
<span style="background-color: #000000"><font color="#737373">139 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>return</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#40ffff">getline</font></span><span style="background-color: #000000"><font color="#ffff60">(</font></span>v:foldstart<span style="background-color: #000000"><font color="#ffff60">).</font></span><span style="background-color: #000000"><font color="#ffa0a0">' '</font></span><br>
<span style="background-color: #000000"><font color="#737373">140 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>endfunction</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">141 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">foldtext</font></span>=SimpleFoldText()&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; Custom fold text function </font></span><br>
<span style="background-color: #000000"><font color="#737373">142 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; (cleaner than default)</font></span><br>
<span style="background-color: #000000"><font color="#737373">143 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">144 </font></span><br>
<span style="background-color: #000000"><font color="#737373">145 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; Plugin Settings {</font></span><br>
<span style="background-color: #000000"><font color="#737373">146 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;b:match_ignorecase&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">1</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; case is stupid</font></span><br>
<span style="background-color: #000000"><font color="#737373">147 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;perl_extended_vars<span style="background-color: #000000"><font color="#ffff60">=</font></span><span style="background-color: #000000"><font color="#ffa0a0">1</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; highlight advanced perl vars </font></span><br>
<span style="background-color: #000000"><font color="#737373">148 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; inside strings</font></span><br>
<span style="background-color: #000000"><font color="#737373">149 </font></span><br>
<span style="background-color: #000000"><font color="#737373">150 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; TagList Settings {</font></span><br>
<span style="background-color: #000000"><font color="#737373">151 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;Tlist_Auto_Open<span style="background-color: #000000"><font color="#ffff60">=</font></span><span style="background-color: #000000"><font color="#ffa0a0">0</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; let the tag list open automagically</font></span><br>
<span style="background-color: #000000"><font color="#737373">152 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;Tlist_Compact_Format&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">1</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; show small menu</font></span><br>
<span style="background-color: #000000"><font color="#737373">153 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;Tlist_Ctags_Cmd&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">'ctags'</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; location of ctags</font></span><br>
<span style="background-color: #000000"><font color="#737373">154 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;Tlist_Enable_Fold_Column&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">0</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; do show folding tree</font></span><br>
<span style="background-color: #000000"><font color="#737373">155 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;Tlist_Exist_OnlyWindow&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">1</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; if you are the last, kill </font></span><br>
<span style="background-color: #000000"><font color="#737373">156 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; yourself</font></span><br>
<span style="background-color: #000000"><font color="#737373">157 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;Tlist_File_Fold_Auto_Close&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">0</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; fold closed other trees</font></span><br>
<span style="background-color: #000000"><font color="#737373">158 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;Tlist_Sort_Type&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">&quot;name&quot;</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; order by </font></span><br>
<span style="background-color: #000000"><font color="#737373">159 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;Tlist_Use_Right_Window&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">1</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; split to the right side</font></span><br>
<span style="background-color: #000000"><font color="#737373">160 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; of the screen</font></span><br>
<span style="background-color: #000000"><font color="#737373">161 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;Tlist_WinWidth&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">40</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; 40 cols wide, so i can (almost always)</font></span><br>
<span style="background-color: #000000"><font color="#737373">162 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; read my functions</font></span><br>
<span style="background-color: #000000"><font color="#737373">163 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; Language Specifics {</font></span><br>
<span style="background-color: #000000"><font color="#737373">164 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; just functions and classes please</font></span><br>
<span style="background-color: #000000"><font color="#737373">165 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;tlist_aspjscript_settings&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">'asp;f:function;c:class'</font></span>&nbsp;<br>
<span style="background-color: #000000"><font color="#737373">166 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; just functions and subs please</font></span><br>
<span style="background-color: #000000"><font color="#737373">167 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;tlist_aspvbs_settings&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">'asp;f:function;s:sub'</font></span>&nbsp;<br>
<span style="background-color: #000000"><font color="#737373">168 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; don't show variables in freaking php</font></span><br>
<span style="background-color: #000000"><font color="#737373">169 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;tlist_php_settings&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">'php;c:class;d:constant;f:function'</font></span>&nbsp;<br>
<span style="background-color: #000000"><font color="#737373">170 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; just functions and classes please</font></span><br>
<span style="background-color: #000000"><font color="#737373">171 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>let</b></font></span>&nbsp;tlist_vb_settings&nbsp;<span style="background-color: #000000"><font color="#ffff60">=</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa0a0">'asp;f:function;c:class'</font></span>&nbsp;<br>
<span style="background-color: #000000"><font color="#737373">172 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">173 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">174 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">175 </font></span><br>
<span style="background-color: #000000"><font color="#737373">176 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; Mappings {</font></span><br>
<span style="background-color: #000000"><font color="#737373">177 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; ROT13 - fun</font></span><br>
<span style="background-color: #000000"><font color="#737373">178 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>map</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">F12</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;ggVGg?<br>
<span style="background-color: #000000"><font color="#737373">179 </font></span><br>
<span style="background-color: #000000"><font color="#737373">180 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; space / shift-space scroll in normal mode</font></span><br>
<span style="background-color: #000000"><font color="#737373">181 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>noremap</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">S-space</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">C-b</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">182 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>noremap</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">space</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">C-f</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">183 </font></span><br>
<span style="background-color: #000000"><font color="#737373">184 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; Make Arrow Keys Useful Again {</font></span><br>
<span style="background-color: #000000"><font color="#737373">185 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>map</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">down</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">ESC</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>:bn<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">RETURN</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">186 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>map</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">left</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">ESC</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>:NERDTreeToggle<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">RETURN</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">187 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>map</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">right</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">ESC</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>:Tlist<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">RETURN</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">188 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>map</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">up</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">ESC</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>:bp<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">RETURN</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">189 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">190 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">191 </font></span><br>
<span style="background-color: #000000"><font color="#737373">192 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; Autocommands {</font></span><br>
<span style="background-color: #000000"><font color="#737373">193 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; Ruby {</font></span><br>
<span style="background-color: #000000"><font color="#737373">194 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; ruby standard 2 spaces, always</font></span><br>
<span style="background-color: #000000"><font color="#737373">195 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.rb,*.rhtml&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">shiftwidth</font></span>=2&nbsp;<br>
<span style="background-color: #000000"><font color="#737373">196 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.rb,*.rhtml&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">softtabstop</font></span>=2&nbsp;<br>
<span style="background-color: #000000"><font color="#737373">197 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">198 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; Notes {</font></span><br>
<span style="background-color: #000000"><font color="#737373">199 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; I consider .notes files special, and handle them differently, I</font></span><br>
<span style="background-color: #000000"><font color="#737373">200 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot; should probably put this in another file</font></span><br>
<span style="background-color: #000000"><font color="#737373">201 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">foldlevel</font></span>=2<br>
<span style="background-color: #000000"><font color="#737373">202 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">foldmethod</font></span>=indent<br>
<span style="background-color: #000000"><font color="#737373">203 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">foldtext</font></span>=foldtext()<br>
<span style="background-color: #000000"><font color="#737373">204 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;listchars<span style="background-color: #000000"><font color="#ffff60">=</font></span><span style="background-color: #000000"><font color="#ffff60"><b>tab</b></font></span>:\ \ <br>
<span style="background-color: #000000"><font color="#737373">205 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">noexpandtab</font></span><br>
<span style="background-color: #000000"><font color="#737373">206 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">shiftwidth</font></span>=8<br>
<span style="background-color: #000000"><font color="#737373">207 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">softtabstop</font></span>=8<br>
<span style="background-color: #000000"><font color="#737373">208 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">tabstop</font></span>=8<br>
<span style="background-color: #000000"><font color="#737373">209 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">syntax</font></span>=notes<br>
<span style="background-color: #000000"><font color="#737373">210 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">nocursorcolumn</font></span><br>
<span style="background-color: #000000"><font color="#737373">211 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">nocursorline</font></span><br>
<span style="background-color: #000000"><font color="#737373">212 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">guifont</font></span>=Consolas<span style="background-color: #000000"><font color="#ffff60"><b>:</b></font></span>h12<br>
<span style="background-color: #000000"><font color="#737373">213 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>&nbsp;*.notes&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">spell</font></span><br>
<span style="background-color: #000000"><font color="#737373">214 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">215 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>au</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#60ff60"><b>BufNewFile</b></font></span>,<span style="background-color: #000000"><font color="#60ff60"><b>BufRead</b></font></span>&nbsp;*.ahk&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>setf</b></font></span>&nbsp;ahk&nbsp;<br>
<span style="background-color: #000000"><font color="#737373">216 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">217 </font></span><br>
<span style="background-color: #000000"><font color="#737373">218 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; GUI Settings {</font></span><br>
<span style="background-color: #000000"><font color="#737373">219 </font></span><span style="background-color: #000000"><font color="#ffff60"><b>if</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#40ffff">has</font></span><span style="background-color: #000000"><font color="#ffff60">(</font></span><span style="background-color: #000000"><font color="#ffa0a0">&quot;gui_running&quot;</font></span><span style="background-color: #000000"><font color="#ffff60">)</font></span><br>
<span style="background-color: #000000"><font color="#737373">220 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; Basics {</font></span><br>
<span style="background-color: #000000"><font color="#737373">221 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>colorscheme</b></font></span>&nbsp;metacosm&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; my color scheme (only works in GUI)</font></span><br>
<span style="background-color: #000000"><font color="#737373">222 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">columns</font></span>=180&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; perfect size for me</font></span><br>
<span style="background-color: #000000"><font color="#737373">223 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">guifont</font></span>=Consolas<span style="background-color: #000000"><font color="#ffff60"><b>:</b></font></span>h10&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; My favorite font</font></span><br>
<span style="background-color: #000000"><font color="#737373">224 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">guioptions</font></span>=ce&nbsp;<span style="background-color: #000000"><font color="#80a0ff"></font></span><br>
<span style="background-color: #000000"><font color="#737373">225 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||</font></span><br>
<span style="background-color: #000000"><font color="#737373">226 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|+-- use simple dialogs rather than pop-ups</font></span><br>
<span style="background-color: #000000"><font color="#737373">227 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;use GUI tabs, not console style tabs</font></span><br>
<span style="background-color: #000000"><font color="#737373">228 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">lines</font></span>=55&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; perfect size for me</font></span><br>
<span style="background-color: #000000"><font color="#737373">229 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>set</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ff80ff">mousehide</font></span>&nbsp;<span style="background-color: #000000"><font color="#80a0ff">&quot; hide the mouse cursor when typing</font></span><br>
<span style="background-color: #000000"><font color="#737373">230 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">231 </font></span><br>
<span style="background-color: #000000"><font color="#737373">232 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; Font Switching Binds {</font></span><br>
<span style="background-color: #000000"><font color="#737373">233 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>map</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">F8</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">ESC</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>:set guifont=Consolas:h8<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">CR</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">234 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>map</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">F9</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">ESC</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>:set guifont=Consolas:h10<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">CR</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">235 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>map</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">F10</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">ESC</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>:set guifont=Consolas:h12<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">CR</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">236 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>map</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">F11</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">ESC</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>:set guifont=Consolas:h16<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">CR</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">237 </font></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #000000"><font color="#ffff60"><b>map</b></font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">F12</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>&nbsp;<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">ESC</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span>:set guifont=Consolas:h20<span style="background-color: #000000"><font color="#ffa500">&lt;</font></span><span style="background-color: #000000"><font color="#ffa500">CR</font></span><span style="background-color: #000000"><font color="#ffa500">&gt;</font></span><br>
<span style="background-color: #000000"><font color="#737373">238 </font></span><span style="background-color: #000000"><font color="#80a0ff">&nbsp;&nbsp;&nbsp;&nbsp;&quot; }</font></span><br>
<span style="background-color: #000000"><font color="#737373">239 </font></span><span style="background-color: #000000"><font color="#ffff60"><b>endif</b></font></span><br>
<span style="background-color: #000000"><font color="#737373">240 </font></span><span style="background-color: #000000"><font color="#80a0ff">&quot; }</font></span><br>
</font></td></tr></tbody></table></div>
<!--# include file="footer.html" -->
